{% load i18n %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- TODO -->
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png" />

    <title>{% block caption %}Tloustici{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% block extra_meta %}
    {% endblock %}

  </head>

  <body>
    {% block body %}
    <div class="container">

      <div class="page-header">
        <h1>{% block title %}{% trans 'Lose fat, now' %}{% endblock %}</h1>
        <p class="lead">{% block subtitle %}{% trans 'What are you waiting for?' %}{% endblock %}</p>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-9">
        {% block right %}
          {% if user.is_authenticated %}
            <div class="well">
              <div class="text-center">
              {% if user.forum_profile.avatar %}
                <img src="{{user.forum_profile.avatar.url}}" class="img-rounded" width=100 height=100 />
              {% else %}
                <img src="{{STATIC_URL}}images/person.jpg" class="img-rounded" width=100 height=100 />
              {% endif %}
              </div>

              <div class="text-right">
                <div class="btn-group btn-group-sm">
                  <a class="btn btn-default" href="javascript:void(0)" >{% trans 'Change Picture' %}</a>
                  <a class="btn btn-default" href="{% url logout %}">{% trans 'Log out' %}</a>
                </div>
              </div>
            </div>

            <div class="well text-center">
              <p>{% trans 'Welcome' %} {{user.username}} </p>
            </div>

          {% else %}

            <p>{% trans 'Welcome. Please log in or' %} <a href="{% url register %}">{% trans 'register' %}</a>.</p>

            <form id="login_form" method="post" action="{% url login %}" class="form-horizontal">
              {% csrf_token %}
              {% if login_form %}
                {{ login_form|bootstrap }}
              {% elif login_form_empty %}
                {{ login_form_empty|bootstrap }}
              {% endif %}
              <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}" />
              </div>
            </form>

          {% endif %}

        {% endblock %}
        </div>

        <div class="col-md-3 col-md-pull-3">
        {% block navigation %}

            <ul class="nav nav-pills nav-stacked">
              {% if user.is_superuser %}
                <li id="navadmin"><a href="{% url admin:index %}">{% trans "Administration" %}</a></li>
                <li id="reloadstatic"><a href="{% url reload_static %}">Reload Static</a></li>
              {% endif %}

              {% for item in navigation %}
                <li class="{{ item.cls }}">
                  <a href="{{ item.url }}" >{{ item.label }}</a>
                </li>
              {% endfor %}
            </ul>

        {% endblock %}

        {% block left %}
{% comment %}
          <div class="panel panel-info hidden-xs">
            <div class="panel-heading">
              {% trans 'Donate' %}
            </div>
            <div class="panel-body">
              <img src="{{STATIC_URL}}images/donate.png" width="100%" />
            </div>
          </div>
{% endcomment %}
        {% endblock %}

        </div>

        <div class="col-md-6 col-md-pull-3">
        {% block messages %}

          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}">{{ message }}</div>
            {% endfor %}
          {% endif %}

        {% endblock %}

        {% block main %}

        {% endblock %}

        </div>

      </div>

        <div class="footer">
          <div class="well text-center">
          {% block footer %}
          <p>&copy; Patrik Beck 2013</p>
          {% endblock %}
          </div>
        </div>
      </div> <!-- /container -->
    

    {% endblock %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    {% block extra_script %}
    {% endblock %}

  </body>
</html>




