<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Base - zakladna sablona  

------------------------------------------------------------------------------------------->

{% load i18n %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="{{language_code}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block description %}{% trans 'Find partner to help you loose weight' %}{% endblock %}" />

    <meta name="msvalidate.01" content="DE62078FBBD1295F7299494EA262D943" />

    <meta property="og:title" content="{% block og_title %}Hubneme ve dvou{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
    <meta property="og:url" content="http://hubnemevedvou.cz{{request.path}}" />
    <meta property="og:site_name" content="Hubnemevedvou" />
    <meta property="og:description" content="{% block og_description %}{% trans 'Find partner to help you loose weight' %}{% endblock %}">
    <meta property="og:image" content="{% block og_image%}http:{{STATIC_URL_NOCLOUD}}images/hubneme-logo-fb.png{% endblock %}">

    {% if caption_prefix == "UAT - " %}
      <meta name="GOOGLEBOT" content="NOINDEX, NOFOLLOW" />
      <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    {% endif %}

    <meta property="fb:admins" content="721894314" />

    <!-- TODO -->
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.png" />

    <title>{{caption_prefix}}{% block caption %}Hubneme ve dvou{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/other.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/app.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <link href="{{STATIC_URL_NOCLOUD}}css/bootstrap.min.css" rel="stylesheet" />
      <link href="{{STATIC_URL_NOCLOUD}}css/bootstrap-theme.min.css" rel="stylesheet" />
      <link href="{{STATIC_URL_NOCLOUD}}css/other.css" rel="stylesheet" />
      <link href="{{STATIC_URL_NOCLOUD}}css/app.css" rel="stylesheet" />

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% block extra_meta %}
    {% endblock %}

    <script type="text/javascript">

    {% if google_analytics %}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{google_analytics}}']);
      _gaq.push(['_setSiteSpeedSampleRate', 10]);
      _gaq.push(['_trackPageview']);


      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      function gaTrackEvent(category, action, opt_label, opt_value) {
        _gaq.push(['_trackEvent', category, action, opt_label]);
      }
    {% else %}
      function gaTrackEvent(category, action, opt_label, opt_value) {}
    {% endif %}

    </script>

    {% if google_analytics %}
      <script>(function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '563584970408685']);
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', 'PixelInitialized', {}]);
      </script>
      <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=563584970408685&amp;ev=PixelInitialized" /></noscript>
    {% endif %}

  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% block body_top %}
    {% endblock %}

    {% block body %}
    <nav id="header" role="navigation">
      <div class="container">
         
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="" href="{% if user.is_authenticated %}{% url "articles" %}{% else %}{% url "register" %}{% endif %}"><img alt="{% if user.is_authenticated %}{% trans 'Articles' %}{% else %}{% trans 'Register' %}{% endif %}" src="{{STATIC_URL}}images/hubneme-logo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse menu-dropdown-new hero">
          {% block navigation %}
            <ul class="nav navbar-nav navbar-right nav-pills">
              {% include 'base/navigation_list.html' %}
            </ul>
          {% endblock %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="clearfix"></div>

    <div id="content">
      <div class="container">
       
        <div class="row">
          <div class="col-md-3 col-sm-4">
            {% block navigation_social %}
              <ul class="nav nav-pills nav-stacked" id="sidebar">
                {% if user.is_superuser %}
                  <li id="navadmin"><a href="{% url "admin:index" %}">{% trans "Administration" %}</a></li>
                  <li id="reloadstatic"><a href="{% url "reload_static" %}">Reload Static</a></li>
                 <li id="kill_server"><a href="{% url "kill_server" %}">Kill Server</a></li>
                 <hr/>
                {% endif %}

                {% include 'base/navigation_list.html' with navigation=navigation_social %}
              </ul>
            {% endblock %}            

            {% if register_form %}
            <div id="register-new-sidebar">
              <strong>{% trans 'Get your lucky strike, take the first step and register!' %}</strong>
              <p/>
              <form method="post" action="/register/0/" class="form">
                {% csrf_token %}
                {{register_form|bootstrap}}

                {% url "terms" as url_terms %}
                <p id="id_disclaimer" class="text-center hidden small" style="font-weight: normal;">
                  {% blocktrans %}Registering here, I confirm I agree with <a href="{{url_terms}}" target="_blank">terms and conditions</a>.{% endblocktrans %}
                </p> 

                <input type="submit" class="btn btn-green" name="step0" value="{% trans 'Create an Account' %}">
              </form>

              <div class="hidden-xs">

                <div class="text-center">
                  <img src="{{STATIC_URL}}images/hubneme-ve-dvou-1.png" alt="{% trans 'Common interests' %}" />
                    
                  <h4>{% trans 'Common interests' %}</h4>
                  <p>{% trans 'bubble_1_txt' %}</p>
                </div>
                
                <div class="text-center">
                  <img src="{{STATIC_URL}}images/hubneme-ve-dvou-2.png" alt="{% trans 'Mutual motivation' %}" />
                  <h4>{% trans 'Mutual motivation' %}</h4>
                  <p>{% trans 'bubble_2_txt' %}</p>
                </div>
                
                <div class="text-center">
                  <img src="{{STATIC_URL}}images/hubneme-ve-dvou-3.png" alt="{% trans 'Useful tips' %}" />
                  <h4>{% trans 'Useful tips' %}</h2>
                  <p>{% trans 'bubble_3_txt' %}</p>
                </div>
              </div>
            </div>
            {% endif %}

            {% block left %}
              {% if friend_suggestion %}
                {% include 'forum/friend_suggestion.html' with s=friend_suggestion %}
              {% endif %}

              {% if form_suggest %}
                {% include 'form_suggest.html' %}
              {% endif %}

              {% if bmi %}
                {% include 'articles/bmi.html' %}
              {% endif %}
            {% endblock %}
          </div>

          <div class="col-sm-8 col-md-9">
            {% include 'base/messages.html' %}
            {% block main %}
            {% endblock %}
          </div>
         
        </div>

        {% block bottom %}
        {% endblock %}

      </div>
    </div>

    {% include 'base/footer.html' %}

    {% endblock %}

    <link href="{{STATIC_URL}}css/switch.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/skins/flat/blue.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    {% block base_script %}

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{{STATIC_URL}}js/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
      <script src="{{STATIC_URL}}js/alert.js"></script>
      <script src="{{STATIC_URL}}js/icheck.min.js"></script>
      <script src="{{STATIC_URL}}js/retina.min.js"></script>
      <script src="{{STATIC_URL}}js/mailgun_validator.js"></script>
      {% if bmi %}<script src="{{STATIC_URL}}js/bmi.js"></script>{% endif %}
      
    {% endblock %}

    {% block extra_script %}
    {% endblock %}

    <script type="text/javascript" language="javascript">

      $(document).ready(function(){
        $('.activities input').iCheck({
          checkboxClass: 'icheckbox_flat-blue',
          radioClass: 'iradio_flat-blue',
        });
      });

      $('.activities input').on('ifChecked', function(){
        $(this.parentNode.parentNode).addClass('checked');
        var e = $(this.parentNode.parentNode).children('img')[0];
        e.src = e.src.replace('.png', 'b.png');
      });
      $('.activities input').on('ifUnchecked', function(){
        $(this.parentNode.parentNode).removeClass('checked');
        var e = $(this.parentNode.parentNode).children('img')[0];
        e.src = e.src.replace('b.png', '.png');
      });

    </script>

    <script type="text/javascript">

      /* Email validator */
      $('#id_email').mailgun_validator({
        api_key: 'pubkey-1argxl8m0inv0hpgce0hxv2acwl5nxy9',
        in_progress: null,
        success: function(data) {
          var e = $('#id_email').parent().parent();
          if (data.is_valid) {
            e.removeClass('has-error');
          } else {
            e.addClass('has-error');
          }
        },
        error: null, 
      });      

    </script>


    {% if user.is_authenticated %}
      <script type="text/javascript" language="javascript">
        var updateUnreadMessages = function() {
          $.getJSON('/messages/unread/', {}).done(function(unread) {
            if (unread == 0) unread = '';
            $('#messages_unread').html(unread);
          });
        }
        setInterval(updateUnreadMessages, 10000);

        updateUnreadMessages();

        function decreaseUnread(dc) {
          var node = $('#messages_unread');

          var n = parseInt(node.html());

          if (!isNaN(n)) {
            n -= dc;
            if (n <= 0) {
              node.html('');
            } else {
              node.html(n);
            }
          }
        }

      </script>
    {% else %}
      <script type="text/javascript" language="javascript">
        function show_disclaimer() {
          $('#id_disclaimer').removeClass('hidden');
        }
      </script>
    {% endif %}

    <script type="text/javascript">
      adroll_adv_id = "DXFI7H6RB5DZJFOH24C233";
      adroll_pix_id = "JYGBTUQT2BAKDJ3NJXZLI6";
      (function () {
        var oldonload = window.onload;
        window.onload = function(){
        __adroll_loaded=true;
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
          document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        if(oldonload){oldonload()}};
      }());
    </script>
  </body>
</html>




