{% extends 'base/base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block body %}
    <div id="header">
        <div class="container">
          <div class="header">
              {% block navigation %}
               <ul class="nav nav-pills pull-right">
                  {% include 'base/navigation_list.html' %}
              </ul>
              {% endblock %}
             <h2>{% block title %}Hubneme<span class="text-muted">ve</span>dvou<span class="text-muted">.cz</span>{% endblock %}</h2>             
        </div>
      </div>
    </div>
<div id="content">
    <div class="container">
        <hr/>
      <div class="row">
        <div class="col-sm-12">
          {% include 'base/messages.html' %}
          {% block main %}
          {% endblock %}
            <div class="assist-text text-center">
                <p>
                    Udělej první krok, najdi si toho správného parťáka a pusťte se do boje společně! Pokud hledáš kamarádku na společné hubnutí nebo třeba i životního partnera ke společným sportovním aktivitám, tak jsi rozhodně na správném místě.
                </p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-sm-4 text-center">
          <h2>Společné cíle</h2>
            <img src="/static/images/hubneme-ve-dvou-1.png" />
            <p>Najdi ze svým partnerem rovnaké cíle a mozná hubnutí pújde rychleji, a když ne aspon to bude zábava.</p>
        </div>
        <div class="col-sm-4 text-center">
         <h2>Větší motivace</h2>
            <img src="/static/images/hubneme-ve-dvou-2.png" />
            <p>Když jste v tom dva, umýte se navzájem posunovat kupredu. Motivace je klíčem k úspešnému hubnutí.</p>
        </div>
        <div class="col-sm-4 text-center">
          <h2>Lepší výsledek</h2>
            <img src="/static/images/hubneme-ve-dvou-3.png" />
            <p>Když se navzájem podporíte pri dosahovaní vašich cílu, zvetší vám to motivaci a prinese lepší výsledky. A možná potkáte i svou lásku.</p>
        </div>
      </div>
      </div>

      {% block bottom %}
      {% endblock %}
    </div>
</div>
      {% include 'base/footer.html' %}


{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bmi.js"></script>
{% endblock %}
