{% extends 'base/base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block body %}
    <div id="header">
        <div class="container">
          <div class="header">
              {% block navigation %}
               <ul class="nav nav-pills pull-right">
                  {% include 'base/navigation_list.html' %}
              </ul>
              {% endblock %}
             <h2>{% block title %}Hubneme<span class="text-muted">ve</span>dvou<span class="text-muted">.cz</span>{% endblock %}</h2>             
        </div>
      </div>
    </div>
 <hr/>
<div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          {% include 'base/messages.html' %}
          {% block main %}
          {% endblock %}
        </div>
        <div class="col-sm-3">
          {% block right %}
            {% include 'articles/bmi.html' %}
          {% endblock %}
        </div>
      </div>

      {% block bottom %}
      {% endblock %}
    </div>
</div>
      {% include 'base/footer.html' %}


{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bmi.js"></script>
{% endblock %}
