<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Base public - zakladna sablona pre neprihláseneho

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block body %}
    <nav id="header" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse hero">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
          <a title="Hubnemevedvou.cz" class="" href="http://{{domain}}/"><img title="Hubnemevedvou.cz" src="{{STATIC_URL}}images/hubneme-logo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {% block navigation %}
               <ul class="nav navbar-nav navbar-right nav-pills">
                  {% include 'base/navigation_list.html' %}
              </ul>
              {% endblock %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <div id="content">
      <div class="container">
       
        <div class="row">
          <div class="col-sm-12">
            {% include 'base/messages.html' %}

            {% block main %}
            {% endblock %}
            
          </div>
        </div>

        {% block bottom %}
        {% endblock %}

      </div>
    </div>

    {% include 'base/footer.html' %}

{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bmi.js"></script>
{% endblock %}
