{% extends 'base/base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block body %}
<div class="container">

  <div class="page-header">
    <div class="pull-right"><ul class="nav nav-pills"><li><a href="{% url logout %}"><span class="glyphicon glyphicon-log-out"></span> {% trans 'Log out' %}</a></li></ul></div>
    <h2>Hubneme<span class="text-muted">ve</span>dvou<span class="text-muted">.cz</span></h2>
    <p class="lead">{% block subtitle %}{% trans 'Find your partner to help you loose weight!' %}{% endblock %}</p>
  </div>

  <div class="row">
    <div class="col-md-3">
    {% block navigation %}

        <ul class="nav nav-pills nav-stacked">
          {% include 'base/navigation_list.html' %}
        </ul>

    {% endblock %}

    {% block left %}      
    {% endblock %}

    <div class="hidden-xs">
      {% include 'articles/recent_articles.html' %}
    </div>

    {% if friend_suggestion %}
      <p/>
      {% include 'forum/friend_suggestion.html' with s=friend_suggestion %}
    {% endif %}

    <p/>

    </div>

    <div class="col-md-9">
       {% include 'base/messages.html' %}

      {% block main %}
      {% endblock %}

      {% block bottom %}
      {% endblock %}

    </div>

  </div>

    {% include 'base/footer.html' %}
  </div> <!-- /container -->

{% endblock %}

{% block base_script %}

  {{block.super}}

  <script type="text/javascript" language="javascript">
    var updateUnreadMessages = function() {
      $.getJSON('/messages/unread/', {}).done(function(unread) {
        if (unread == 0) unread = '';
        $('#messages_unread').html(unread);
      });
    }
    setInterval(updateUnreadMessages, 10000);

    updateUnreadMessages();
  </script>

{% endblock %}


