<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Base email

------------------------------------------------------------------------------------------->

{% load i18n %}

<html>
  <head>
      {% block head %}
    <link href="http://{{domain}}{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
   
    {% block extra_style %}
    {% endblock %}
  </head>
  <body style="word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;" >
    
      <font face="Tahoma, Geneva, sans-serif">
<div><div><div bgcolor="#FFFFFF" text="#000000"><div style="width:
                               100%; min-height: 100%; background-color:#e3f3ff; 
                               background-image: none; background-attachment: scroll; background-clip: 
                               border-box; background-origin: padding-box; background-size: auto; 
                               padding-top: 0pt; padding-bottom: 0pt; margin-top: 0pt; margin-bottom: 
                               0pt; position: static; z-index: auto; background-position: 0% 0%; 
                               background-repeat: repeat repeat; "><table bgcolor="#2D2D2D" 
 border="0" width="600" align="left"><table align="center" 
                                       border="0" width="500">
    <tbody>
        <tr>
            <td width="220"><a moz-do-not-send="true" 
                               href="http://www.hubnemevedvou.cz/"><img alt="Hubnemevedou.cz" title="Hubnemevedou.cz" 
                                                  border="0" height="51" width="161" 
                                                  id="test" apple-width="yes" 
                                                  apple-height="yes" src="http://uat.hubnemevedvou.cz/static/images/hubneme-logo.png""></a>
            </td>
            <td align="right"> <br>
            </td>
        </tr>
        <tr>
            <td style="border-top-left-radius: 4px;
                border-top-right-radius: 4px; border-bottom-right-radius:
                4px; border-bottom-left-radius: 4px;" colspan="2" 
                bgcolor="#FFFFFF"> <br>
                <table align="center" border="0" width="450">
                    <tbody>
                        <tr>
                            <td height="50" width="200">
                               <h2>Dear customers,</h2>
                            </td>
                            <td align="right"> 
                        </td>
                        </tr>
                        <tr><td colspan="2">
 {% block main %}
    {% endblock %}
                             Fall has arrived and we couldn't be more excited to break out our booties and coats. Want to look cool this season while still staying warm? Take a cue from Pose's Community Manager, Alicia, and her Fall Favorites collection as you assemble your perfect wardrobe.<br>
  <a href="http://{{domain}}{% url login %}">{% trans 'Log in' %}</a>
                                <br>
                            
</td>
                        </tr>
                        <tr>
                            <td> <b><br>
                                </b></td>
                            <td align="right">
                                <div align="left"><b>{% block underwritting %}
        {{domain|capfirst}}<br/>
        
      </b><br>
                                  webmaster@{{domain}}<br>
                                  {% endblock %}  </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</table=""></div>
<title>HUBNEMEVEDVOU.CZ</title>
</div>

</div></div><br>
</font>
      
     

    
   

   

    <p class="text-right">
      
    </p>
  </body>
</html>
