{% load i18n %}

<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Footer

------------------------------------------------------------------------------------------->

<div id="footer">
  <div class="container">
    <div class="footer" style="margin-top: 10px;">
      <div class="row">
        <div class="col-xs-6">
          <ul class="nav navbar-nav navbar-left nav-pills">
            <li class="">
              <a href="/articles/">
                <span class="glyphicon glyphicon-home"></span> Články
              </a>
            </li>
            <li class="">
              <a href="/forum/">
                <span class="glyphicon glyphicon-comment"></span> Fórum
              </a>
            </li>
            <li class="">
              <a href="/help/"><span class="glyphicon glyphicon-question-sign"></span> Nápověda</a>
            </li>
            <li>
              <div class="footer-social">
                <div class="fb-like" data-href="https://www.facebook.com/hubnemevedvou" data-layout="button" data-action="like" data-show-faces="false" data-share="false" data-ref="footer-{{request.path}}"></div>
              </div>
            </li>
          </ul>
          <div class="hidden" style="width:0px; height: 0px;">
            <a href="{% url register %}" >{% trans 'Register' %}</a>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="right text-right">
            {% block footer %}
              <img title="Hubnemevedvou.cz" src="{{STATIC_URL}}images/hubneme-logo-footer.png">
            {% endblock %}
          </div>
        </div>

      </div>


      <div class="row text-right small" style="text-transform:uppercase; margin-top: 5px;">
        <div class="col-xs-12">
          <a href="http://glyphicons.com" class="small" target="_blank">Glyphicons</a> |
          <a href="{% url terms %}" class="small">{% trans 'Terms and conditions' %}</a> |
          <a href="mailto:webmaster@hubnemevedvou.cz" class="small">webmaster@{{domain}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
