<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Login / Prihlasenie 

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load bootstrap %}
{% load i18n %}

{% block main %}

<h2 class="bigger text-center"><light>Prihlaseni pro tvou budoucnost</light></h2>
      <div>&nbsp;</div>

  <div id="login" class="well banner panel panel-default text-center">
       <h4>{% trans 'Log in' %} a drapni sve stesti za vlasy</h4>

    <div class="panel-body">
      <form id="login_form" method="post" action="{% url login %}" class="form-horizontal">
        {% csrf_token %}
        {{ login_form|bootstrap_horizontal:"col-xs-2" }}

        <div class="">
          <p><a href="{% url password_recovery %}">{% trans 'Forgot your password?' %}</a></p>

          <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}" />
          </div>
        </div>
      </form>
    </div>
  </div>

<!------------------------------------------------------------------------------------------ 
 Feature box
------------------------------------------------------------------------------------------->
<div class="clear"></div>
<div class="feature-box padding-top">
 <div class="col-sm-4 text-center">
            <img src="/static/images/hubneme-ve-dvou-1.png">
            <h2>Společné zájmy</h2>
            <p>Najdi si partnera se stejným koníčkem, sportujte ve dvou a zhubněte společně!</p>
 </div>
<div class="col-sm-4 text-center">
     <img src="/static/images/hubneme-ve-dvou-2.png">
            <h2>Vzájemná motivace</h2>
            <p>Ztratit nějaké ty kila navíc znamená pro mnohé nelehký úkol. Vzájemná podpora a společné zájmy jsou však silnou zbraní, jak dosáhnout svého cíle snadněji.</p>
        </div>
        <div class="col-sm-4 text-center">
            <img src="/static/images/hubneme-ve-dvou-3.png">
            <h2>Užitečné tipy</h2>
            <p>Inspiruj se rady a tipy ostatních uživatelů v oblasti cvičení, zdravého vaření, diet, nebo třeba možností sportu ve tvém okolí.</p>
        </div>
</div>
{% endblock %}
