<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Messages ? 

------------------------------------------------------------------------------------------->

{% block messages %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}" >
        {{ message }}
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}

