<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Messages ? 

------------------------------------------------------------------------------------------->

{% load i18n %}

{% block messages %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}" >
        {{ message }}
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      </div>
    {% endfor %}
  {% endif %}

  {% for wink in winks %}
    <div class="alert alert-info" >
      <div class="row">
        <div class="col-sm-8">
          <a href="{% url 'profile' wink.source.username %}" style="text-decoration: none;">
            <img src="{{wink.source.forum_profile.avatar_url}}" class="img-circle" style="width: 34px; height: auto; margin-top:-10px; margin-bottom:-10px;" >
          </a>
          You have been winked at by <a href="{% url 'profile' wink.source.username %}">{{wink.source.username}}</a>
        </div>
        <div class="col-sm-4 text-right">
          <a href="{% url 'wink' %}?target={{wink.source.username}}&return_url={{request.path}}"><span class="glyphicon glyphicon-eye-open"></span> wink back</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="close" href="{% url 'wink' %}?dismiss={{wink.source.username}}&return_url={{request.path}}">&times;</a>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}

