#header{
    background-color:#66b7fb;
    height:80px; 
    color:white;
}

#header h2{
    color:white;
    
}

#header a{
    color:white;
    
}

#header a:hover{
    background-color:#428bca;
    
}

#footer{
    background-color:#e3f3ff;
    min-height:200px;
}

#content{
    background-image:url("../images/bg.png");
    background-repeat:repeat-x;
    padding-bottom:50px;
}

.banner{
    width: 602px;
    background-color: #FFF;
    margin: 0 auto;
    background-image: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 0px 0px 10px #66b7fb;
}

.banner h2{
   font-size: 36px;
   font-weight: regular;
   line-height: 30px;
}

.assist-text{
    min-height: 200px;
}

.assist-text p{
    font-size: 18px;
    font-weight: lighter;
    padding-top: 30px;
}