#header{
    background-color:#66b7fb;
    color:white;
}

#header h2{
    color:white;
    
}

#header ul{
padding-top: 12px;
}

#header a{
    color:white;
    
}

#header a:hover{
    background-color:#428bca;
    
}

#footer{
    background-color:#e3f3ff;
    min-height:200px;
}

#content{
    background-image:url("../images/bg.png");
    background-repeat:repeat-x;
    padding-bottom:50px;
    background-position:center;
    background-position: top;
}

.banner{
    width: 602px;
    background-color: #FFF;
    margin: 0 auto;
    background-image: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 0px 0px 10px #66b7fb;
}

.bigger{
   font-size: 36px;
   line-height: 30px;
}

.bold{
   font-weight:bold;
}

.padding-bottom{
   padding-bottom:20px;
}

.assist-text{
    min-height: 200px;
    background-image:url("../images/sipky.png");
    background-repeat:no-repeat;

}

.assist-text p{
    font-size: 18px;
    font-weight: lighter;
    padding-top: 30px;
}

.navbar-toggle .icon-bar{
    background-color: white;
}