/******************************************************************************

Hubnemevedvou.cz

Application styles

1. Colors
2. Main
3. Header
4. Sidebar
5. Content
6. Footer

Media querry

*******************************************************************************/


/******************************************************************************
1. Colors
*******************************************************************************/

.cyan { color:#00aedf; }
.blue { color:#428bca; }

/******************************************************************************
2. Main
*******************************************************************************/

.bigger{
   font-size: 36px;
   line-height: 30px;
}

.bold{ font-weight:bold; }
.padding-bottom{ padding-bottom:20px; }
.padding-top{ padding-top:20px; }


/******************************************************************************
3. Header
*******************************************************************************/

#header{
    background-color:#00aedf;
    color:white;
    height:62px;}
    #header h2{ color:white; }
    #header ul{ padding-top: 6px; }
    #header button{
        border: 1px solid #FFF;
        margin-top: 20px; }
    #header a{ color:white; display:block; }
    #header a:hover{ background-color:#428bca; }

.navbar-brand{ padding:0px important; }

/******************************************************************************
4. Sidebar menu
*******************************************************************************/

#sidebar{ 
    background-color:#FFF;
    padding: 15px;
    margin: 0 0 15px 0;}


/******************************************************************************
5. Content
*******************************************************************************/

#content{
    background-image:url("../images/bg.png");
    background-repeat:repeat-x;
    padding-bottom:50px;
    background-position:center;
    background-position: top;
    padding-top:20px;
}

/******************************************************************************
5. Homepage
*******************************************************************************/

.banner{
    width: 602px;
    background-color: #FFF;
    margin: 0 auto;
    background-image: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 0px 0px 10px #66b7fb;
    font-weight: bold;
    font-size: 16px;
    min-height: 132px;
    padding: 27px;
    }

.col-sm-3 nav nav-pills nav-stacked{ background-color:gray; }

.lide{
    background-image:url("../images/hubneme-lide.png");
    padding-bottom:20px;
    background-repeat:no-repeat;
}

.assist-text{
    min-height: 200px;
    background-image:url("../images/sipky.png");
    background-repeat:no-repeat; }
    .assist-text p{
        font-size: 18px;
        font-weight: lighter;
        padding-top: 30px;
    }

.navbar-toggle .icon-bar{ background-color: white; }

/******************************************************************************
6. Registration process
*******************************************************************************/

#register-form{}
    #register-form li{ 
        width: 33%;
        float: left;
        text-align: left;
        padding: 5px 0px;
        list-style: none; }



.form-horizontal{
    max-width: 600px;
    margin: 0 auto; }

/******************************************************************************
6. Login
*******************************************************************************/

#login{ }
    #login_form div label{ 
       font-weight:normal;}

/******************************************************************************
6. Footer
*******************************************************************************/

#footer{
    background-color:#e3f3ff;
    min-height:200px;
}


/******************************************************************************
6. Footer
*******************************************************************************/

.sidebar-box{
    background-color: #FFF;
    background-image: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 0px 0px 10px #66b7fb;
    font-size: 16px;
    }

/******************************************************************************


6. MEDIA QUERRIES


*******************************************************************************/


@media (max-width: 640px) {
    
    .banner{ width: 100%; }
    .assist-text{ background-image:none; }
    .lide{
        background-image:none;
        padding-bottom: 20px;
        }
}