<li>
<label for="{{id}}">{{label}}</label>
<div class="switch">
     	<input {% for k,v in extra_attrs %}{{k}}="{{v}}"  {% endfor %} type="radio" {% if checked %}checked="checked"{% endif %} name="{{field_name}}" class="switch-input" id="{{id}}" name="sledovat" value="{{value}}" id="on" checked="">
      	<label for="on" class="switch-label switch-label-off">BAVÍ</label>
      	<input {% for k,v in extra_attrs %}{{k}}="{{v}}"  {% endfor %} type="radio" {% if checked %}checked="checked"{% endif %}  name="{{field_name}}" class="switch-input" id="{{id}}" name="sledovat" value="{{value}}" id="off">
      	<label for="off" class="switch-label switch-label-on">NEBAVÍ</label>
      	<span class="switch-selection"></span>
</div>

</li>
 