{% extends 'forum/profile/fillin.html' %}
{% load i18n %}

{% block extra_meta %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block text %}
<p>
{% blocktrans %}
Congratulation on registering to the website.

Please fill in your profile information. Except for city, none of the other fields entered here is visible to other users. But will greatly enhance the search and match feature, allowing us to present you with people most compatible with you.

{% endblocktrans %}
</p>

{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>

  <script type="text/javascript" language="javascript">
    $('#id_date_of_birth').datepicker({
      format: 'dd.mm.yyyy',
      viewMode: 2
    });
  </script>
{% endblock %}
