<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Private info form

------------------------------------------------------------------------------------------->

{% load i18n %}

<form action="{{action}}" class="form-horizontal" method="POST">
  <div style="display:none">
    {% csrf_token %}
  </div>

  {% include 'forum/profile/form_private_info_fields.html' %}

  <div class="form-group text-center">
    <div class="">
      <button type="submit" class="btn btn-green" name="personal">Uložit</button>
    </div>
  </div>
</form>


