<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Profile read only

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}

{% load i18n %}
{% load base_tags %}

{% block og_title %}{% trans 'Profile' %} {{profile.username}}{% endblock %}
{% block og_type %}profile{% endblock %}
{% block og_image %}{{profile.forum_profile.avatar_url}}{% endblock %}

{% block extra_meta %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.Jcrop.min.css" type="text/css" />
{% endblock %}

{% block main %}

  <div class="profile_data">

    <div class="panel panel-info">
      
      <div class="panel-body">
        <div class="">
          <div class="col-md-push-8 col-md-4" style="margin-bottom: 12px;">
            <div style="position: relative; width: 160px; height: auto; margin-left: auto; margin-right: auto;">
              <img id="id_avatar" src="{{profile.forum_profile.avatar_url}}" width="160" height="160" class="img-circle{% if user == profile or user.is_superuser %} link-glow{% endif %}" {% if user == profile or user.is_superuser %}onclick="javascript:performClick(document.getElementById('id_avatarinput'))"{% endif %} />

              {% if user == profile or user.is_superuser %}
                <div style="position:absolute; bottom: -1px; right: 3px; color: #505050; ">
                  <small><small>
                    {% trans 'Change Picture' %} <span class="glyphicon glyphicon-repeat"></span>
                  </small></small>
                </div>
                <div style="position:absolute; bottom: 0px; right: 4px; color: #FFFFFF;">
                  <small><small>
                    {% trans 'Change Picture' %} <span class="glyphicon glyphicon-repeat"></span>
                  </small></small>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="col-md-8 col-md-pull-4">
            <h3>{{profile.username}} 
              {% if user == profile or user.is_superuser %}
                <small>
                  <a href="{% url "profile" profile.username %}?edit=1">{% trans 'Edit Profile' context 'button' %}</a>
                </small>
              {% endif %}
            </h3>

            <p class="text-muted">
              {% if sex %}{{sex}}{% endif %}{% if sex and profile.forum_profile.city %}, {% endif %}
              {% if profile.forum_profile.city %}{{profile.forum_profile.city}}{% endif %}
            </p>

            {% for k,v in info %}
              <div class="row">
                <div class="col-xs-4">{{k}}</div>
                <div class="col-xs-8">{{v}}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        
        <div class="col-sm-12 avatarstaging">
          <form action="{% url "profile" profile.username %}" method="POST" enctype="multipart/form-data" onsubmit="return checkCoords();">
            {% csrf_token %}

            {{form_uploadavatar}}

            <div id="id_avatardiv" style="margin-top:70px;" >
              <img id="id_avatarstaging" class="avatar-staging hidden" />
            </div>

            <span id="id_avatarsubmitlabel" class="left hidden">{% trans 'Select the image boundaries and upload the picture.' %}</span>
            <div class="btn-group btn-group-sm right hidden" id="id_avatarsubmit">
              <button id="id_avatarsubmit" name="uploadavatar" type="submit" class="btn btn-primary">{% trans 'Change avatar' %}</button>
            </div>

          </form>
        </div>
       
        <div class="clearfix"></div>

        <div class="col-sm-12">
          {% if user.is_authenticated %}
          <div class="col-sm-12 text-right">
            <div class="">
              {% if user.is_superuser and user != profile %}
                {% button 'Suspend Account' 'profile' url_arg=profile.username get_param='suspend' get_value='1' icon='lock' cls='btn' %}
              {% endif %}
              
              {% if user != profile %}
                {% if in_favourites %}
                  {% button 'Remove from Favourites' 'favourites' icon='minus' get_param='remove' get_value=profile.username cls='btn' %}
                {% else %}
                  {% button 'Add to Favourites' 'favourites' icon='pushpin' get_param='add' get_value=profile.username cls='btn-green'%}
                {% endif %}
                {% button 'Send Message' 'messages' icon='envelope' get_param='addressee' get_value=profile.username cls='btn-blue'%}
              {% endif %}
            </div>
          </div>
          {% endif %}
        
          {% if profile.forum_profile.description_html %}
            <div class="clearfix"></div>
            <hr/>

            <p>
              {{profile.forum_profile.description_html|safe}}
            </p>
          {% endif %}
            <hr/>

          {% if user.is_authenticated %}
            {% if sports or other %}
              <h3 class="lead">{% trans 'Activities' %}
                {% if user == profile or user.is_superuser %}
                  <small>
                    <a href="{% url "profile" profile.username %}?edit=1&focus=act">{% trans 'Edit Activities' context 'button' %}</a>
                  </small>
                {% endif %}
              </h3>
              <div class="row">
                {% if sports %}
                  {% if sports|length <= 1 %}
                  <div class="col-md-6">
                  {% else %}
                  <div class="col-md-12">
                  {% endif %}
                    <h4>{% trans 'Sports' %}:</h4>
                    <div class="row">
                      {% for a in sports %}
                        {% if sports|length <= 1 %}
                          <div class="col-xs-12 activities-sport-main">
                        {% else %}
                          <div class="col-lg-4 col-md-6 col-xs-12 activities-sport-main">
                        {% endif %}
                          <img src="{{STATIC_URL}}images/activity/icons-{{a.id}}b.png" height="66" class="icon-profil" alt="{% trans a.name context 'activity' %}" />
                          <p>{% trans a.name context 'activity' %}</p>
                        </div>
                      {% endfor %}
                    </div>
                  </div>           
                {% endif %}
                {% if other %}
                  {% if other|length <= 1 %}
                  <div class="col-md-6">
                  {% else %}
                  <div class="col-md-12">
                  {% endif %}
                    <h4>{% trans 'Other Activities' %}:</h4>
                    <div class="row">
                      {% for a in other %}
                        {% if other|length <= 1 %}
                        <div class="col-xs-12 activities-sport-main">
                        {% else %}
                        <div class="col-lg-4 col-md-6 col-xs-12  activities-sport-main">
                        {% endif %}
                          <img src="{{STATIC_URL}}images/activity/icons-{{a.id}}b.png" height="66" class="icon-profil" alt="{% trans a.name context 'activity' %}"/>
                          <p>{% trans a.name context 'activity' %}</p>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div> <!-- row -->
            {% endif %} <!-- no data -->
          {% else %}
            <p>{% trans 'This info is visible only to' %} <a href="{% url "register" %}">{% trans 'registered'%}</a> {% trans 'users.' %}</p>
          {% endif %} <!-- auth -->

          {% if user != profile and user.is_authenticated %}

            <hr/>

            <h3 class="lead">{% trans 'Compatibility' %}</h3>

            <div class="progress">
              <div class="compatibility-bar progress-bar-info" role="progressbar" aria-valuenow="{{fit_overall}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fit_overall}}%">{% trans 'Overall' %}</div>
            </div>
            <div class="progress">
              <div class="compatibility-bar progress-bar-info" role="progressbar" aria-valuenow="{{fit_body}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fit_body}}%">{% trans 'BMI' %}</div>
            </div>
            <div class="progress">
              <div class="compatibility-bar progress-bar-info" role="progressbar" aria-valuenow="{{fit_activities}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fit_activities}}%">{% trans 'Activities' %}</div>
            </div>
          {% endif %} <!-- display compatibility -->
        </div> <!-- col-sm-12 -->

        <div class="col-xs-12 text-right">
          {% if user != profile %}
            <div class="btn-group btn-group-sm">
              <a class="text-muted dropdown-toggle" data-toggle="dropdown">{% trans 'Report user' %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "report" 'sexual' %}?target_id={{profile.forum_profile.id}}&target=Profile">{% trans 'Sexual Remarks' %}</a></li>
                <li><a href="{% url "report" 'advertising' %}?target_id={{profile.forum_profile.id}}&target=Profile">{% trans 'Advertising' %}</a></li>
                <li><a href="{% url "report" 'abuse' %}?target_id={{profile.forum_profile.id}}&target=Profile">{% trans 'Other Abuse' %}</a></li>
              </ul>
            </div>
          {% endif %}
        </div>
      </div> <!-- panel body -->
    </div> <!-- panel -->
  </div> <!-- profile_data -->
{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/jquery.Jcrop.min.js"></script>
  <script src="{{STATIC_URL}}js/image-crop.js"></script>  

  <script type="text/javascript" language="javascript">
    function performClick(node)
    {
      var evt = document.createEvent("MouseEvents");
      evt.initEvent("click", true, false);
      node.dispatchEvent(evt);
    }

    document.getElementById('id_avatarinput').addEventListener('change', handleFileSelect, false);

  </script>
{% endblock %}
