{% extends base_template %}

{% load i18n %}
{% load base_tags %}

{% block main %}

  <div class="profile_image">
  </div>
  <div class="profile_data">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> {{profile.username}} <small>{% trans 'from' %} {{profile.forum_profile.city}}</small></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div style="position: relative; width: 120px; height: auto; margin-left: auto; margin-right: auto;">
              <img src="{{profile.forum_profile.avatar_url}}" width="120" height="120" class="img-rounded{% if user == profile or user.is_superuser %} link-glow" onclick="javascript:performClick(document.getElementById('id_avatar'))" />
              <div style="position:absolute; bottom: -1px; right: 3px; color: #505050; ">
                <small><small>
                  {% trans 'Change Picture' %} <span class="glyphicon glyphicon-repeat"></span>
                </small></small>
              </div>
              <div style="position:absolute; bottom: 0px; right: 4px; color: #FFFFFF;">
                <small><small>
                  {% trans 'Change Picture' %} <span class="glyphicon glyphicon-repeat"></span>
                </small></small>
              </div>

            </div>
            <div class="hidden">
              <form action="{% url profile profile.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{avatar_form}}
                <input type="hidden" name="uploadavatar" value=""/>
              </form>
            </div>
            {% else %}" /></div>{% endif %}
          </div>
          <div class="col-sm-9">
            <p>{{profile.username}} - {{sex}}</p>
            <p>{{profile.forum_profile.description_html|safe}}</p>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-2" ></div>
          <div class="col-xs-10 text-right">
            <div class="btn-group btn-group-sm">
              {% if user.is_superuser and user != profile %}
                {% button 'Suspend Account' '#' icon='lock' cls='danger' %}
              {% endif %}
              {% if user == profile or user.is_superuser %}
                {% button 'Edit Profile' 'profile' url_arg=profile.username icon='pencil' get_param='edit' get_value='1' %}
              {% endif %}
              {% if user != profile %}
                {% if in_favourites %}
                  {% button 'Remove from Favourites' 'favourites' icon='minus' get_param='remove' get_value=profile.username cls='warning' %}
                {% else %}
                  {% button 'Add to Favourites' 'favourites' icon='pushpin' get_param='add' get_value=profile.username %}
                {% endif %}
                {% button 'Send Message' 'messages' icon='envelope' get_param='addressee' get_value=profile.username %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if profile.forum_profile.activities.all %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Activities' %}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h4>{% trans 'Sports' %}:</h4>
            {% for a in profile.forum_profile.activities.all %}
              {% if a.sport %}
                {{a}}<br/>
              {% endif%}
            {% endfor %}
          </div>
          <div class="col-sm-6 col-xs-12">
            <h4>{% trans 'Other Activities' %}:</h4>
            {% for a in profile.forum_profile.activities.all %}
              {% if not a.sport %}
                {{a}}<br/>
              {% endif%}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if user != profile %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Compatibility' %}</h3>
      </div>
      <div class="panel-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{fit_overall}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fit_overall}}%">{% trans 'Overall' %}
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{fit_body}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fit_body}}%">{% trans 'Body' %}
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{fit_activities}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fit_activities}}%">{% trans 'Activities' %}
          </div>
        </div>
      </div>
    </div>

    {% endif %}

  </div>

{% endblock %}

{% block extra_script %}
  <script type="text/javascript" language="javascript">
    function performClick(node)
    {
      var evt = document.createEvent("MouseEvents");
      evt.initEvent("click", true, false);
      node.dispatchEvent(evt);
    }
  </script>
{% endblock %}
