{% extends 'base/base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block extra_meta %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Essential Information' %}</h3>
  </div>
  <div class="panel-body">
    {% include 'form.html' with form=form_essentials button='Save' name='essentials' %}   
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Bio' %}</h3>
  </div>
  <div class="panel-body">
    {% include 'form.html' with form=form_bio button='Save' name='bio' %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Personal Information' %}</h3>
  </div>
  <div class="panel-body">
    <p>
    {% blocktrans %}
    None of the information entered here is public. It's used only to find the best matches for you when using the search feature of the site.
    {% endblocktrans %}
    </p>
    {% include 'form.html' with form=form_personal button='Save' name='personal' %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Avatar' %}</h3>
  </div>
  <div class="panel-body">
    {% include 'form.html' with form=form_uploadavatar button='Upload' name='uploadavatar' %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Activities' %}</h3>
  </div>
  <div class="panel-body">
    {% include 'form.html' with form=form_act button='Save' name='act' %}
  </div>
</div>

{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>

  <script type="text/javascript" language="javascript">
    $('#id_date_of_birth').datepicker({
      format: 'dd.mm.yyyy'
    });
  </script>
{% endblock %}
