<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Email activation

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}

{% load i18n %}

{% block main %}

  <p>
    {% blocktrans %}
      Welcome {{user.username}}!
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      Thank you for registering on <a href="http://hubnemevedvou.cz">hubnemevedvou.cz</a> . We are looking forward to all the weight we will loose together!
    {% endblocktrans %}
  </p>

  <p>
    {% url activate activation_key=activation_key as act_link %}

    {% blocktrans %}
      In order to finish the registration, please click on the following 
      <a href="http://{{domain}}{{act_link}}">link</a>.
    {% endblocktrans %}
  </p>

{% endblock %}
