<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Email activation

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}

{% load i18n %}

{% block main %}

  {{p|safe}}
    {% blocktrans %}
      Welcome {{username}}!
    {% endblocktrans %}
  </p>

  {% url "activate" activation_key=activation_key as act_link %}

  {{p|safe}}
    {% blocktrans %}
      Thank you for registering on <a href="http://{{domain}}{{act_link}}">hubnemevedvou.cz</a> . We are looking forward to all the weight we will loose together!
    {% endblocktrans %}
  </p>

  {{p|safe}}
    {% blocktrans %}
      In order to finish the registration, please click on the following link.
    {% endblocktrans %}
    <br/><br/>

    <center>

      <a href="http://{{domain}}{{act_link}}" {% include 'base/email_calltoactionbutton.html' %}>{% trans 'Activate' %}</a>

    </center>
  </p>

{% endblock %}
