<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Registration front

------------------------------------------------------------------------------------------->

{% extends 'base/base_public_full.html' %}
{% load bootstrap %}
{% load i18n %}

{% block body_top %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block main %}
  <div class="text-center">

  {% if not user.is_authenticated %}

  <h2 class="bigger"><light>{% trans 'Does overweight bother you?' %}</light></h2><h2 class="bigger bold padding-bottom">{% trans 'Find partner to help you loose weight' %}</h2>
      <div>&nbsp;</div>
<div class="lide">      
  <div class="well banner">
    <p>{% trans 'Get your lucky strike, take the first step and register!' %}</p>


  <p>
    <form method="post" action="{% url register_step 0 %}" class="form-inline">
      {% csrf_token %}
      {{form.0|bootstrap_inline}}
      <input type="submit" class="btn btn-primary" name="{{button_name}}" value="{{form.0.submit}}" />
    </form>
  </p>
  </div>
</div>      
<div>&nbsp;</div>
<div class="assist-text text-center">
        <p>
       Ve dvou se to přece lépe táhne, tak si najdi správného parťáka
a pusťte se do boje společně!
Pokud hledáš kamarádku na společné hubnutí nebo třeba i životního partnera
ke společným sportovním aktivitám, tak jsi rozhodně na správném místě.
        </p>
</div>
        
 <div class="clear"></div>
 <div class="col-sm-4 text-center">
            <img src="/static/images/hubneme-ve-dvou-1.png" />
            <h2>{% trans 'Common interests' %}</h2>
            <p>{% trans 'bubble_1_txt' %}</p>
 </div>
<div class="col-sm-4 text-center">
     <img src="/static/images/hubneme-ve-dvou-2.png" />
            <h2>{% trans 'Mutual motivation' %}</h2>
            <p>{% trans 'bubble_2_txt' %}</p>
        </div>
        <div class="col-sm-4 text-center">
            <img src="/static/images/hubneme-ve-dvou-3.png" />
            <h2>{% trans 'Useful tips' %}</h2>
            <p>{% trans 'bubble_3_txt' %}</p>
        </div>



  {% endif %}

  </div>
{% endblock %}






{% block right %}
  <div class="fb-surround">
    <div class="fb-like" data-href="http://hubnemevedvou.cz/register" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-ref="front" data-width="263"></div>
  </div>
  <p/>

  {{block.super}}

  {% include 'form_suggest.html' %}

{% endblock %}


