<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Proces registracie

------------------------------------------------------------------------------------------->

{% extends 'base/base_public_full.html' %}
{% load bootstrap %}
{% load i18n %}

{% block extra_meta %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}

<!------------------------------------------------------------------------------------------ 
Navigacia kroky registracie
------------------------------------------------------------------------------------------->

<h3 class="text-center">{% trans 'Increase your chance to succeed and tell us more about yourslef in the following steps' %}</h3>
<small>
    <p class="lead text-center">
      {{steps_text|safe}}
    </p>
</small> 

<!------------------------------------------------------------------------------------------ 
Text stepov v registracii
------------------------------------------------------------------------------------------->

<div class="panel pandel-default">
        <div class="panel-body text-center">
    {% if step == 2 %}
      <h2>{% trans 'Tell us about yourself' %}</h2>
      <small>
        <p class="lead">
          {% trans 'Filling up basic info is necessary for using the search functionality.' %}
        </p>
      </small>
    {% elif step == 3 %}
      <h2>{% trans 'And finally' %} ..</h2>
      <small>
        <p class="lead">
          {% trans 'Please create a password so you can safely use the website.' %}
        </p>
      </small>
    {% endif %}


    {% if step < 4 %}
          {% if step == 1 %}
            <!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Registracia krok 1

------------------------------------------------------------------------------------------->
            <form action="{% url register_step step %}" method="POST" class="form-horizontal">
              {% csrf_token %}
              {% include 'forum/profile/form_activities_fields.html' with form=form.0 %}
              <div class="form-group">
                <div class="register-form">
                  <button type="submit" class="btn btn-green" name="{{button_name}}">{% trans button %}</button>
                </div>
              </div>              
            </form>
            
          {% else %}
            {% include 'form.html' with name=button_name %}
          {% endif %}
        </div>
      </div>

    {% else %}
      <h2>{% trans 'Congratulations, that is all the info we need.' %}</h2>
      <p>
        {% trans 'Follow the instructions sent to your email to finish the registration.' %}
      </p>
    {% endif %}
{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>

  <script type="text/javascript" language="javascript">
    $('#id_date_of_birth').datepicker({
      format: 'dd.mm.yyyy',
      viewMode: 2
    });
  </script>
{% endblock %}
