<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Proces registracie

------------------------------------------------------------------------------------------->

{% extends 'base/base_public_full.html' %}
{% load bootstrap %}
{% load i18n %}

{% block extra_meta %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" />
  <link href="{{STATIC_URL}}css/bootstrap-switch.min.css" rel="stylesheet" />
  {% if step == 3 %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.Jcrop.min.css" type="text/css" />
  {% endif %}
{% endblock %}

{% block main %}

<!------------------------------------------------------------------------------------------ 
Navigacia kroky registracie
------------------------------------------------------------------------------------------->

{% if step <= 2 %}
  <h3 class="text-center">{% trans 'Increase your chance to succeed and tell us more about yourslef in the following steps' %}</h3>
{% endif %}

<small>
    <p class="lead text-center">
      {{steps_text|safe}}
    </p>
</small> 

<!------------------------------------------------------------------------------------------ 
Text stepov v registracii
------------------------------------------------------------------------------------------->

<div class="panel pandel-default">
  <div class="panel-body text-center">
    {% if step == 2 %}
      <h2>{% trans 'Tell us about yourself' %}</h2>
    {% elif step == 3 %}
      <p class="lead">
        {% trans 'Upload your photo' %}
      </p>
    {% elif step == 4 %}
      <p class="lead">
        {% trans 'Please create a password so you can safely use the website.' %}
      </p>
    {% endif %}


    {% if step < 5 %}
      {% if step == 1 %}
            <!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Registracia krok 1

------------------------------------------------------------------------------------------->
            <form action="{% url register_step step %}" method="POST" class="form-horizontal">
              {% csrf_token %}
              {% include 'forum/profile/form_activities_fields.html' with form=form.0 %}
              <div class="form-group">
                <div class="register-form">
                  <button type="submit" class="btn btn-green" name="{{button_name}}">{% trans button %}</button>
                </div>
              </div>              
            </form>
            
          {% elif step == 2 %}
            <form action="{% url register_step step %}" method="POST" class="form-horizontal">
              {% csrf_token %}
            
              {% include 'form_fields.html' with name=button_name form=form.0 cols="9" %}
              {% include 'forum/profile/form_private_info_fields.html' with form=form.1 %}

              <div class="form-group">
                <div class="register-form">
                  <button type="submit" class="btn btn-green" name="{{button_name}}">{% trans button %}</button>
                </div>
              </div>              
            </form>
          {% elif step == 3 %}
            <div id="id_img_change_hide" style="position: relative; width: 160px; height: auto; margin-left: auto; margin-right: auto;">
              <img id="id_avatar" src="{{STATIC_URL}}images/person.jpg" width="160" height="160" class="img-circle link-glow" onclick="javascript:performClick(document.getElementById('id_avatarinput'))">
              <div class="link-glow-trigger" style="position:absolute; bottom: 23px; right: 2px; color: #505050; " onclick="javascript:performClick(document.getElementById('id_avatarinput'))">
                <h3 style="word-spacing:800px;">
                  <span class="glyphicon glyphicon-repeat"></span><br/>{% trans 'Change picture' %}
                </h3>
              </div>
              <div class="link-glow-trigger" style="position:absolute; bottom: 25px; right: 4px; color: #FFFFFF;" onclick="javascript:performClick(document.getElementById('id_avatarinput'))">
                <h3 style="word-spacing:800px;">
                  <span class="glyphicon glyphicon-repeat"></span><br/>{% trans 'Change picture' %}
                </h3>
              </div>
            </div>

            <div class="clear-fix" />

            <div class="row">
              <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-xs-12">
                <div class="avatarstaging">
                  <form action="{% url register_step step %}" method="POST" enctype="multipart/form-data" onsubmit="return checkCoords();">

                    {% csrf_token %}

                    {{form.0}}

                    <div id="id_avatardiv">
                      <img id="id_avatarstaging" class="avatar-staging hidden" />
                    </div>

                    <span id="id_avatarsubmitlabel" class="text-center hidden"><small>{% trans 'Select the image boundaries and upload the picture.' %}</small></span>
                    <div class="btn-group btn-group-sm text-center hidden" id="id_avatarsubmit">
                      <button id="id_avatarsubmit" name="step3" type="submit" class="btn btn-green">{% trans 'Upload picture' %}</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>

            <a href="{% url register_step step %}" element="padding-top: 20px;">{% trans 'I will upload my picture later' %}</a>

          {% else %}
            {% include 'form.html' with name=button_name %}
          {% endif %}
        </div>
      </div>

    {% else %}
      <div class="row">
        <div class="col-xs-12 visible-xs text-centered">
          <p class="lead">
            {% trans 'Follow the instructions sent to your email to finish the registration.' %}
          </p>
        </div>
        <div class="col-md-offset-2 col-md-4 col-sm-6 text-center hidden-xs">
          <img src="{{STATIC_URL}}images/logo350.png" alt="hubneme ve dvou logo" class="img-registration-over" />
        </div>
        <div class="col-md-4 col-sm-6 text-left hidden-xs" style="padding-top: 40px;">
          <p class="lead">
            {% trans 'Follow the instructions sent to your email to finish the registration.' %}
          </p>
        </div>
      </div>
    {% endif %}

  </div>
</div>

{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap-switch.min.js"></script>

  {% if step == 3 %}
    <script src="{{STATIC_URL}}js/jquery.Jcrop.min.js"></script>
    <script src="{{STATIC_URL}}js/image-crop.js"></script>
  {% endif %}

  <script type="text/javascript" language="javascript">
    $('#id_date_of_birth').datepicker({
      format: 'dd.mm.yyyy',
      viewMode: 2
    });

    $.fn.bootstrapSwitch.defaults.onText = '{% trans 'public' %}';
    $.fn.bootstrapSwitch.defaults.offText = '{% trans 'hidden' %}';

    $('.bbswitch').bootstrapSwitch();

    {% if step == 3 %}
      var img_target = $('#id_avatar');

      $('.link-glow-trigger').mouseover(function () {
        img_target.addClass('link-glow-hover');
      });

      $('.link-glow-trigger').mouseout(function () {
        img_target.removeClass('link-glow-hover');
      });

      function performClick(node)
      {
        var evt = document.createEvent("MouseEvents");
        evt.initEvent("click", true, false);
        node.dispatchEvent(evt);
      }

      document.getElementById('id_avatarinput').addEventListener('change', handleFileSelect, false);

    {% endif %}

  </script>

  
{% endblock %}
