{% extends "base/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block main %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% trans 'Registration' %}
    </h3>
  </div>
  <div class="panel-body">

    <form id="registration_form" method="post" action="{% url register %}" class="form-horizontal">
      {% csrf_token %}

      {{form|bootstrap_horizontal:"col-sm-3"}}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary" >{% trans 'Register' %}</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

