{% extends 'base/base_public_full.html' %}
{% load bootstrap %}
{% load i18n %}

{% block extra_meta %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}

<h2 class="text-center">Vitaj MENO pre uspesne vytvorenie profilu ta cakaju 4 jednoduche kroky</h2>
<small>
    <p class="lead">
        <a href="#">Aktivity</a>
        <a href="#">Informacie o sebe</a>
        <a href="#">Nastavenie hesla</a>
        <a href="#">Overenie mailom</a>
    </p>
</small>


<div class="panel pandel-default">
        <div class="panel-body">
    {% if step == 1 %}
      <h2>{% trans 'Which sports and activities do you like?' %}</h2>
      <small>
        <p class="lead">
          {% trans 'Tell us what you like to do, so we can find the best match for you.' %}
        </p>
      </small>
    {% elif step == 2 %}
      <h2>{% trans 'Tell us about yourself' %}</h2>
      <small>
        <p class="lead">
          {% trans 'Filling up basic info is necessary for using the search functionality.' %}
        </p>
      </small>
    {% elif step == 3 %}
      <h2>{% trans 'And finally' %} ..</h2>
      <small>
        <p class="lead">
          {% trans 'Please create a password so you can safely use the website.' %}
        </p>
      </small>
    {% endif %}


    {% if step < 4 %}
          <p>{{additional_comment|safe}}</p>
          {% if step == 1 %}
            <form action="{% url register_step step %}" method="POST" class="form-horizontal">
              {% csrf_token %}
              {% include 'forum/profile/form_activities_fields.html' %}
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-primary" name="{{button_name}}">{% trans button %}</button>
                </div>
              </div>              
            </form>
          {% else %}
            {% include 'form.html' with name=button_name %}
          {% endif %}
        </div>
      </div>

    {% else %}
      <h2>{% trans 'Congratulations, that is all the info we need.' %}</h2>
      <p>
        {% trans 'Follow the instructions sent to your email to finish the registration.' %}
      </p>
    {% endif %}
{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>

  <script type="text/javascript" language="javascript">
    $('#id_date_of_birth').datepicker({
      format: 'dd.mm.yyyy',
      viewMode: 2
    });
  </script>
{% endblock %}
