<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Registration disaloved

------------------------------------------------------------------------------------------->

{% extends 'registration/registration_msg.html' %}

{% load i18n %}

{% block message %}

<h3><span class="glyphicon glyphicon-lock"></span> {% trans 'Registration of new users is currently closed.' %}</h3>

<p>
<small>{% trans 'Try again later, please.' %}</small>
</p>

{% endblock %}

