<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

New email recovery

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}

{% load i18n %}

{% block title %}Password Changed{% endblock %}

{% block main %}

<p>
{% trans 'Dear' %} {{username}},
</p>

<p>
{% trans 'Your password has been reset to' %} {{new_password}}.
</p>

{% trans 'You can change your password following' %}
<a href="http://hubnemevedvou.cz{% url profile username %}?edit=1&focus=passwordchange">{% trans 'this link' %}</a>.
{% trans 'After you log in.' %}

{% trans 'Best Regards' %}

{% endblock %}

