<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

New email suggest

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}
{% load i18n %}

{% block title %}Hubnemevedvou.cz{% endblock %}

{% block head_url %}http://{{domain}}{% url register %}?utm_source=headlink&utm_medium=email&utm_campaign={{analytics_campaign}}{% endblock %}
{% block head_label %}{% trans 'Create an Account' %}{% endblock %}

{% block main %}

{% block trans %}
<p>
Ahoj, 
</p>

<p>
trápí Tě kila navíc, ale nemáš s kým nebo pro koho hubnout? Ať už hledáš kamarádku na společné hubnutí nebo životního partnera se stejnými koníčky, neváhej a udělej první krok! 
</p>
<p>
Nakopni své štěstí a navštiv stránku <a href="http://{{domain}}/?utm_source=midlink&utm_medium=email&utm_campaign={{analytics_campaign}}">hubnemevedvou.cz</a> Ve dvou se to přece lépe táhne, tak si najdi toho správného parťáka!
</p>
{% endblock %}

<p class="text-muted">({% trans 'This email was sent to you, as somebody you know filled out the recommendation form with your email.' %})</p>

{% endblock %}
