<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

New email suggest

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}
{% load i18n %}

{% block title %}Hubnemevedvou.cz{% endblock %}

{% block head_url %}http://{{domain}}{% url "register" %}?utm_source=internal&utm_content=headlink&utm_medium=email&utm_campaign={{analytics_campaign}}{% endblock %}
{% block head_label %}{% trans 'Create an Account' %}{% endblock %}

{% block main %}

{% block trans %}
{{p|safe}}
Ahoj, 
</p>

{{p|safe}}
trápí Tě kila navíc, ale nemáš s kým nebo pro koho hubnout? Ať už hledáš kamarádku na společné hubnutí nebo životního partnera se stejnými koníčky, neváhej a udělej první krok! 
</p>
{{p|safe}}
Nakopni své štěstí a navštiv nás na <br/><br/>

<center>
<a href="http://{{domain}}/?utm_source=internal&utm_content=calltoaction&utm_medium=email&utm_campaign={{analytics_campaign}}" {% include 'base/email_calltoactionbutton.html' %}>hubnemevedvou.cz</a>

</center>

<br/><br/>

Ve dvou se to přece lépe táhne, tak si najdi toho správného parťáka!
</p>
{% endblock %}

{{p|safe}}
<small>
({% trans 'This email was sent to you, as somebody you know filled out the recommendation form with your email.' %})
</small>
</p>

{% endblock %}

