<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

New email

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}

{% load i18n %}

{% block main %}

<table style="width: 100%;">
  <tbody>
    <tr>
      <td align="center" style="width: 100px;">
        <a href="http://{{domain}}{% url profile from %}?utm_source=internal&utm_content=avatarlink&utm_medium=email&utm_campaign=message" style="border: 0px;">
          <img src="{{img}}" width="100%" style="border-radius: 50%; vertical-align: top; border: 0px;" />
        </a>
      </td>
      <td style="padding-left: 20px;" >
        <p><b>{% trans 'Message from user' %} <a href="http://{{domain}}{% url profile from %}?utm_source=internal&utm_content=userlink&utm_medium=email&utm_campaign=message" style="color: #2BA6CB;">{{from}}</a></b></p>
        <p>{{body|safe}}</p>

        <br/><br/>

        <a href="http://{{domain}}{% url messages %}?addressee={{from}}&utm_source=internal&utm_content=replylink&utm_medium=email&utm_campaign=message" {% include 'base/email_calltoactionbutton.html' %}>{% trans 'Reply' %}</a>
      </td>
    </tr>  
  </tbody>
</table>

<br/>
<br/>
<br/>

<small>
{% blocktrans %}
You can switch off the email/messages notification in your <a href="http://{{domain}}{{url_settings}}" style="color: #2BA6CB;" >profile settings page</a>.
{% endblocktrans %}
</small>

{% endblock %}

{% block signature %}
{% endblock %}

