<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

New wink

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}

{% load i18n %}

{% block main %}

<table style="width: 100%;">
  <tbody>
    <tr>
      <td align="center" style="width: 100px;">
        <a href="http://{{domain}}{% url "profile" from %}?utm_source=internal&utm_content=avatarlink&utm_medium=email&utm_campaign=wink" style="border: 0px;">
          <img src="{{img}}" width="100%" style="border-radius: 50%; vertical-align: top; border: 0px;" />
        </a>
      </td>
      <td style="padding-left: 20px;" >
        {% url 'profile' from as profile_uri %}
        {% with "http://"|add:domain|add:profile_uri|add:"?utm_source=internal&utm_content=userlink&utm_medium=email&utm_campaign=wink" as profile_url %}
          <p>{% blocktrans with username=from context gender %}You have been winked at by <a href="{{profile_url}}">{{username}}</a>{% endblocktrans %}
        {% endwith %}
        <br/><br/>

        <a href="http://{{domain}}{% url "profile" from %}?utm_source=internal&utm_content=replylink&utm_medium=email&utm_campaign=wink" {% include 'base/email_calltoactionbutton.html' %}>{% trans 'Wink back' %}</a>
      </td>
    </tr>  
  </tbody>
</table>

<br/>
<br/>
<br/>

<small>
{% blocktrans %}
You can switch off the email/messages notification from <a href="http://{{domain}}">{{domain}}</a> at your <a href="http://{{domain}}{{url_settings}}?utm_source=internal&utm_content=unsubscribe&utm_medium=email&utm_campaign=wink" style="color: #2BA6CB;" >profile settings page</a>.
{% endblocktrans %}
</small>

{% endblock %}

{% block signature %}
{% endblock %}

