<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

New email recovery

------------------------------------------------------------------------------------------->

{% extends 'base/email_base.html' %}

{% load i18n %}

{% block main %}

<p>
{% blocktrans %}Hi {{username}},{% endblocktrans %}
</p>

<p>
{% blocktrans %}Your temporary password is {{new_password}}.{% endblocktrans %}
</p>

{% url "login" as url_login %}
{% url "profile" username as url_redir %}
{% with redir_params="?edit=1&focus=passwordchange"|urlencode|iriencode %}

  <p>
    {% blocktrans with u=username|urlencode ur=url_redir|urlencode|iriencode %}
      You need to <a href="http://{{domain}}{{url_login}}?username={{u}}&redirect={{ur}}{{redir_params}}&utm_source=internal&utm_content=recoverylink&utm_medium=email&utm_campaign={{analytics_campaign}}">log in</a> to change it.
    {% endblocktrans %}
  </p>

{% endwith %}

{% endblock %}
