<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Favorities

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}

{% block main %}
  {% if favourites %}
  <div class="row">
    {% for f in favourites %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
        <div class="well text-center link-glow" onclick="location.href='{% url profile f.celebrity.username %}';">
            <div class="col-md-6">
            <img class="img img-circle" src="{{f.celebrity.forum_profile.avatar_url}}" width="120" height="120"/>
            </div>
            <div class=" text-left col-md-6" style="max-height:64px; overflow:hidden;">
            <h3><a href="' + e.link  + '">{{f.celebrity.username}}</a></h3>
            <p>{{f.celebrity.forum_profile.description_html|safe}}</p>
            </div>
                      <div class="clearfix"></div>
        </div>

      </div>
    {% endfor %}
  </div>
  {% else %}
    <p>{% trans 'You have not added anyone to your favourites list.' %}</p>
  {% endif %}
{% endblock %}


