<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Friend suggestion

------------------------------------------------------------------------------------------->

{% load i18n %}
{% load base_tags %}
<div class="sidebar-header">
  <h3 class="panel-title">{% trans 'We recommend' %}</h3>
</div>
<div class="panel panel-info sidebax-box">
  <div class="panel-body friend-suggestion">
    <div class="row">
      <div class="col-xs-6">
        <a href="{% url profile s.profile.user.username %}">
          <img class="img img-circle img-responsive link-glow" src="{{s.profile.avatar_url}}" onmousedown="gaTrackEvent('friend suggest', 'click', 'photo');">
        </a>
      </div>
      <div class="col-xs-6" style="text-align: right;">
        <a href="{% url profile s.profile.user.username %}" onmousedown="gaTrackEvent('friend suggest', 'click', 'login');"><h3>{{s.profile.user.username}}</h3></a>
        <small>{{s.profile.sex_verbose}}, {{s.profile.city}}</small>
        <div class="progress" style="margin-bottom: 10px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{s.fitness.0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{s.fitness.0}}%">{% trans 'Overall' %}
          </div>
        </div>
        <div class="progress" style="margin-bottom: 10px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{s.fitness.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{s.fitness.1}}%">{% trans 'BMI' %}
          </div>
        </div>
        <div class="progress" style="margin-bottom: 10px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{s.fitness.2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{s.fitness.2}}%">{% trans 'Activity' %}
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
        <div class="btn-group btn-group-xs text-right">
          {% button 'Add to Favourites' 'favourites' icon='pushpin' get_param='add' get_value=s.profile.user.username ga_category='friend suggest' %} 
          {% button 'Send Message' 'messages' icon='envelope' get_param='addressee' get_value=s.profile.user.username ga_category='friend suggest' %}
        </div>
    </div>
  </div>
</div>
