<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Friend suggestion

------------------------------------------------------------------------------------------->

{% load i18n %}
{% load base_tags %}

  <h4>Odporučený</h4>
  <div class="panel-body friend-suggestion">
    <div class="row">
      <div class="col-xs-6">
        <a href="{% url profile s.profile.user.username %}">
          <img class="img img-circle img-responsive link-glow" src="{{s.profile.avatar_url}}">
        </a>
      </div>
      <div class="col-xs-6">
        <a href="{% url profile s.profile.user.username %}"><h3>{{s.profile.user.username}}</h3></a>
        <small>{% trans 'from' context 'city' %} {{s.profile.city}}?</small>
        <div class="progress" style="margin-bottom: 10px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{s.fitness.0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{s.fitness.0}}%">{% trans 'Overall' %}
          </div>
        </div>
        <div class="progress" style="margin-bottom: 10px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{s.fitness.1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{s.fitness.1}}%">{% trans 'Body' %}
          </div>
        </div>
        <div class="progress" style="margin-bottom: 10px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{s.fitness.2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{s.fitness.2}}%">{% trans 'Activity' %}
          </div>
        </div>
      </div>
    <div class="clear"></div>
  <div class="btn-group-xs">
      {% button 'Add to Favourites' 'favourites' icon='pushpin' get_param='add' get_value=s.profile.user.username%} 
      {% button 'Send Message' 'messages' icon='envelope' get_param='addressee' get_value=s.profile.user.username%}
  </div>
        </div>
</div>


