<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

FAQ - Otazky

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}

{% block description %}{% trans 'How it works' %}{% endblock %}
{% block og_description %}{% trans 'How it works' %}{% endblock %}
{% block caption %}{% trans 'Help' %} - Hubneme ve dvou{% endblock %}

{% block main %}
  <div class="row">
    <h2>{% trans 'Questions you need answers for' %}</h2>
      
    {% for item in help_items %}

      <div class="col-md-12 white-well big-faq" data-toggle="collapse" data-target="#text{{forloop.counter0}}">
        <h3><span class="caret"></span>&nbsp;{{item.caption}}</h3>

        <div id="text{{forloop.counter0}}" class="collapse">
        {% for r in item.rows %}

          <div class="row">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
              <img src="{{STATIC_URL}}images/{{r.image}}_small75.png" class="screenshot-help" style="max-width: 100%;"/>
              <p class="help-text">{{r.text|safe}}</p>
            </div>

            <div class="col-xs-12 hidden-xs">
              <p>
                <img src="{{STATIC_URL}}images/{{r.image}}_small75.png" class="screenshot-help {% cycle 'pull-left' 'pull-right' %}" />
                <p class="text-center help-text">{{r.text|safe}}</p>
              </p>
            </div>
          </div>

          <p><br/></p>
        {% endfor %}
        </div>
      </div>
    {% endfor %}

    {% comment %}     
    <div class="col-md-12 white-well big-faq" data-toggle="collapse" data-target="#text3">
      <h3><span class="caret"></span>&nbsp;Nenašel si tu správnu odpoveď?</h3>
 <p id="text3" class="collapse incollapse in">
          Zeptej se na tvuj problém u nás na <a href="http://uat.hubnemevedvou.cz/forum/"></a>foru.</a> nebo nám napiš:
        
<div id="post_reply_head2" class="panel panel-default"><form method="post" action="/forum/undefined/" class="form"><div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="xYl0oIXAwRSRE1czLLPTGqtLDjBnXrmE"></div>
      




    

<div class="form-group">
            <label class="control-label " for="id_body">Zpráva</label>
        <div class="">
            <textarea rows="3" name="body" id="id_body" placeholder="" cols="70" class="form-control form-control"></textarea>    
        </div>
</div>


    

<div class="form-group">
        <div class="">
            <div class="checkbox"> 
            <label>
                    <input checked="checked" type="checkbox" name="subscribe" id="id_subscribe"> <span>Upozornění při odpovědi</span>
                </label>    
            </div>
        </div>
</div>

    <div class="form-group"><div><button type="submit" class="btn btn-green">Odeslat</button></div></div></form></div>
    </p></p></p></p></div>
      
  {% endcomment %}

  </div>
{% endblock %}


