<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

FAQ - Otazky

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}

{% block main %}
  <div class="row">
      <h2>{% trans 'Questions you need answers for' %}</h2>
      
    <div class="col-md-12 well big-faq" data-toggle="collapse" data-target="#text1">
      <h3><span class="caret"></span>&nbsp;Jak hledat partnera?</h3>
        <p id="text1" class="collapse in">
          Napriek všeobecnému presvedčeniu nie je Lorem Ipsum len náhodný text. Jeho korene sú v časti klasickej latinskej literatúry z roku 45 pred n.l., takže má viac ako 2000 rokov. Richard McClintock, profesor latinčiny na Hampden-Sydney College vo Virgínii, hľadal jedno z menej určitých latinských slov, consectetur, z pasáže Lorem Ipsum, a ako vyhľadával výskyt tohto slova v klasickej literatúre, objavil jeho nepochybný zdroj. Lorem Ipsum pochádza z odsekov 1.10.32 a 1.10.33 Cicerovho diela "De finibus bonorum et malorum" (O najvyššom dobre a zle), napísaného v roku 45 pred n.l. Táto kniha je pojednaním o teórii etiky, a bola veľmi populárna v renesancii. Prvý riadok Lorem Ipsum, "Lorem ipsum dolor sit amet..", je z riadku v odseku 1.10.32.  
        </p>

    </div>

     <div class="col-md-12 well big-faq" data-toggle="collapse" data-target="#text2">
      <h3><span class="caret"></span>&nbsp;Jak nastavit profil?</h3>
 <p id="text2" class="collapse">
          Napriek všeobecnému presvedčeniu nie je Lorem Ipsum len náhodný text. Jeho korene sú v časti klasickej latinskej literatúry z roku 45 pred n.l., takže má viac ako 2000 rokov. Richard McClintock, profesor latinčiny na Hampden-Sydney College vo Virgínii, hľadal jedno z menej určitých latinských slov, consectetur, z pasáže Lorem Ipsum, a ako vyhľadával výskyt tohto slova v klasickej literatúre, objavil jeho nepochybný zdroj. Lorem Ipsum pochádza z odsekov 1.10.32 a 1.10.33 Cicerovho diela "De finibus bonorum et malorum" (O najvyššom dobre a zle), napísaného v roku 45 pred n.l. Táto kniha je pojednaním o teórii etiky, a bola veľmi populárna v renesancii. Prvý riadok Lorem Ipsum, "Lorem ipsum dolor sit amet..", je z riadku v odseku 1.10.32.  
        </p>
    </div>
      
      <div class="col-md-12 well big-faq" data-toggle="collapse" data-target="#text3">
      <h3><span class="caret"></span>&nbsp;Nenašel si tu správnu odpoveď?</h3>
 <p id="text3" class="collapse">
          Zeptej se na tvuj problém u nás na <a href="http://uat.hubnemevedvou.cz/forum/"></a>foru.</a> nebo nám napiš:
        
<div id="post_reply_head" class="panel panel-default"><form method="post" action="/forum/undefined/" class="form"><div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="xYl0oIXAwRSRE1czLLPTGqtLDjBnXrmE"></div>
      




    

<div class="form-group">
            <label class="control-label " for="id_body">Zpráva</label>
        <div class="">
            <textarea rows="3" name="body" id="id_body" placeholder="" cols="70" class="form-control form-control"></textarea>    
        </div>
</div>


    

<div class="form-group">
        <div class="">
            <div class="checkbox"> 
            <label>
                    <input checked="checked" type="checkbox" name="subscribe" id="id_subscribe"> <span>Upozornění při odpovědi</span>
                </label>    
            </div>
        </div>
</div>

    <div class="form-group"><div><button type="submit" class="btn btn-lg btn-success">Odeslat</button></div></div></form></div>
    </p></p></p></p></div>
      
  </div>
{% endblock %}


