<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

FAQ - Otazky

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}

{% block main %}
  <div class="row">
      <h2>Otazky na ktere potrebujete odpoved</h2>
      
    <div class="col-md-12 well big-faq" data-toggle="collapse" data-target="#text1">
      <h3><span class="caret"></span>Jak hledat partnera?</h3>
        <p id="text1" class="collapse in">
          Napriek všeobecnému presvedčeniu nie je Lorem Ipsum len náhodný text. Jeho korene sú v časti klasickej latinskej literatúry z roku 45 pred n.l., takže má viac ako 2000 rokov. Richard McClintock, profesor latinčiny na Hampden-Sydney College vo Virgínii, hľadal jedno z menej určitých latinských slov, consectetur, z pasáže Lorem Ipsum, a ako vyhľadával výskyt tohto slova v klasickej literatúre, objavil jeho nepochybný zdroj. Lorem Ipsum pochádza z odsekov 1.10.32 a 1.10.33 Cicerovho diela "De finibus bonorum et malorum" (O najvyššom dobre a zle), napísaného v roku 45 pred n.l. Táto kniha je pojednaním o teórii etiky, a bola veľmi populárna v renesancii. Prvý riadok Lorem Ipsum, "Lorem ipsum dolor sit amet..", je z riadku v odseku 1.10.32.  
        </p>

    </div>

     <div class="col-md-12 well big-faq" data-toggle="collapse" data-target="#text2">
      <h3><span class="caret"></span>Jak nastavit profil?</h3>
 <p id="text2" class="collapse">
          Napriek všeobecnému presvedčeniu nie je Lorem Ipsum len náhodný text. Jeho korene sú v časti klasickej latinskej literatúry z roku 45 pred n.l., takže má viac ako 2000 rokov. Richard McClintock, profesor latinčiny na Hampden-Sydney College vo Virgínii, hľadal jedno z menej určitých latinských slov, consectetur, z pasáže Lorem Ipsum, a ako vyhľadával výskyt tohto slova v klasickej literatúre, objavil jeho nepochybný zdroj. Lorem Ipsum pochádza z odsekov 1.10.32 a 1.10.33 Cicerovho diela "De finibus bonorum et malorum" (O najvyššom dobre a zle), napísaného v roku 45 pred n.l. Táto kniha je pojednaním o teórii etiky, a bola veľmi populárna v renesancii. Prvý riadok Lorem Ipsum, "Lorem ipsum dolor sit amet..", je z riadku v odseku 1.10.32.  
        </p>
    </div>
  </div>
{% endblock %}


