{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block main %}

<div id="data"></div>

<div id="pagination"></div>

{% endblock %}

{% block extra_script %}
  <script src="{{STATIC_URL}}js/ajax.js"></script>

  {% if form %}
    <script type="bogus" id="form_template">
      {{form|bootstrap}}
    </script>
  {% endif %}

  {% include 'base/loading.html' %}

  <script type="text/javascript" language="javascript">

    function show(i) {
      elem = document.getElementById("post" + i);
      elem.className = elem.className.replace( /(?:^|\s)hidden(?!\S)/g , '' );
      elem.getElementsByTagName('textarea')[0].focus();
    }

    function add_form(reply_to) {
      elem = document.getElementById("form_template");

      var txt = 
        '<form method="post" action="/forum/' + reply_to + '/" class="form">'
        + "{% csrf_token %}"
        + elem.innerHTML
        + '<div class="form-group">'
          + '<div>'
            + '<button type="submit" class="btn btn-sm">Post</button>'
          + '</div>'
        + '</div>'
      + '</form>';

      return txt;
    }

    {% block entry_rendering %}

    function render(i, e, last_end) {
      var body = '';
      var footer = '';

      var hidden = '';

      var link = "";
      if (e.is_link) {
        if (e.pk == root) {
            link = 'onClick="root = \'' + e.parent + '\'; loadData()"';
        } else {
            link = 'onClick="root = \'' + e.pk + '\'; loadData()"';
        }
      }


      footer =
        '<div class="row">'
        + '<div class="col-xs-6">';

      if (e.level > 1) {
        footer += '<small><a href="' + e.user_link + '">'
          + '<span class="glyphicon glyphicon-user"></span> ' + e.by_user
          + '</a></small>';
        body += '<div class="text-right" style="color: #505050;"><small>' + e.date + '</small></div>';

      }

      footer += '</div><div class="col-xs-6 text-right">';
      if (e.post_count > 0) {
        footer += '<small>' + e.post_count + ' '+ e.posts + '</small> ';
      }

      footer += '<div class="btn-group btn-group-xs">';

      if (e.deletable_link != '') {
        footer += '<a href="' + e.deletable_link + '" class="btn btn-default" ><span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}</a>';
      }

      body += '<p>' + e.text + '</p>';


      if (e.level > 0) {
        var s = i;

        if (e.level == 4) s = last_end;

        {% if form %}
          footer += '<a href="javascript:void(0)" class="btn btn-default" onClick="show(' + (s) + ')"><span class="glyphicon glyphicon-share-alt"></span> {% trans 'Reply' %}</a>';
        {% endif %}
      }

      footer += '</div></div></div>';

      $('#data').append(
        '<div class="panel panel-default ' + e.html_class + '" style="margin-bottom: 5px;">'
        + '<div class="panel-body link-glow" style="padding: 5px;" ' + link + '>'
          + '<div class="row">'
            + '<div class="col-xs-2 visible-sm visible-md visible-lg">'
              + '<img src="' + e.avatar + '" width="100%" class="img-rounded" />'
            + '</div>'
            + '<div class="col-xs-10">' + body + '</div>'
          + '</div>'
        + '</div>'
        + '<div class="panel-footer">'
          + footer
        + '</div>'
      + '</div>');

      {% if form %}
      if(e.level < 4) {

        $('#data').append(
          '<div id="post' + i + '" class="panel panel-default ' + e.html_class2 + ' hidden" style="margin-bottom: 5px;">'
          + '<div class="panel-body" style="padding: 5px;">'
            + '<div class="row">'
              + '<div class="col-xs-2 visible-sm visible-md visible-lg">'
                + '<img src="{{user.forum_profile.avatar_url}}" width="100%" class="img-rounded" />'
              + '</div>'
              + '<div class="col-xs-10">' + add_form(e.pk) + '</div>'
            + '</div>'
          + '</div>'
        + '</div>');
      }
      {% endif %}

    }

    {% endblock %}

    var ajax_url = '/forum/data/';

    {% if root %}
      root = '{{root}}';
    {% else %}
      root = '';
    {% endif %}
    
    $(document).ready(loadData());

    window.onscroll = scrollFunction;

  </script>

{% endblock %}


