<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Profile index

Page structure:

<ALL>
  <Bread crumbs>
  <id="data"> - this is reloaded during loadData() event
    <id="entries"> - list of entries, for each the render() method is called
  <id="pagination"> - a placeholder, if visible, more entries are fetched using JSON

Basic JSON load scenario:
-replace <Dynamic DIV data> with loading logo
-JSON fetch
-preRender() called, returned HTML will replace <Dynamic DIV data>
-render() called for each entry

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block main %}

<div class="row">

  <p id="breadcrumbs"></p>

  <div id="data">
    <!-- First level, categories, are rendered on the server and it's not possibel to get back here thru JSON -->

    {% for category in categories %}
      <div class="white-well big-faq">
        <div class="row">
          <div class="col-md-2">
            <img src="{{category.image_url}}" class="img-max" />
          </div>
          <div class="col-md-6">
            <h3>{{category.body_html}}</h3>
            {% if category.last_post %}
              {% url profile category.last_post.user as user_url %}

              <p class="text-muted">
                {% blocktrans with date=category.last_post.created user=category.last_post.user id=category.last_post.id %}
                  <a href="javascript:void(0)" onClick="change('{{id}}');">Last reaction</a> {{date}} by <a href="{{user_url}}">{{user}}</a>
                {% endblocktrans %}
              </p>
            {% endif %}
          </div>
          <div class="col-md-3">
            <p>{% trans 'Post count' %}: {{category.post_count}}</p>
            <a href="javascript:void(0)" class="btn btn-info btn-block" onClick="change('{{category.id}}');" >{% trans 'Open category' %}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="pagination"></div>

</div>

{% endblock %}

{% block extra_script %}

  <script src="{{STATIC_URL}}js/jquery.history.js"></script>
  <script src="{{STATIC_URL}}js/ajax.js"></script>

  {% if form %}
    <script type="bogus" id="form_template">
      {{form|bootstrap}}
    </script>
  {% endif %}

  {% include 'base/loading.html' %}

  <script type="text/javascript" language="javascript">

    function show(i) {
      elem = document.getElementById("post" + i);
      elem.className = elem.className.replace( /(?:^|\s)hidden(?!\S)/g , '' );
      elem.getElementsByTagName('textarea')[0].focus();
    }

    function add_form(reply_to) {
      elem = document.getElementById("form_template");

      var txt = 

      {% if user.is_authenticated %}
        '<form method="post" action="{% url forum_index %}' + reply_to + '/" class="form">'
        + "{% csrf_token %}"
        + elem.innerHTML
        + '<div class="form-group">'
          + '<div>'
            + '<button type="submit" class="btn btn-lg btn-green">{% trans 'Send' %}</button>'
          + '</div>'
        + '</div>'
      + '</form>';
      {% else %}
        {% url register as url_register %}
        {% url login as url_login %}
        {% url forum_index as url_forum %}

        {% blocktrans %}
          'Only registered users can post on the forum. Please <a href="{{url_login}}?redirect={{url_forum}}">log in</a> or <a href="{{url_register}}">register</a>.';
        {% endblocktrans %}

      {% endif %}

      return txt;
    }

    function preRender(data) {

      /* Setup breadcrumbs */
      var extra = data.extra;
      var txt = '<a href="{% url forum_index %}">{% trans 'Forum' %}</a> &gt; ';
      for (var i = 0; i < extra.breadcrumbs.length; i++) {
        txt += '<a href="javascript:void(0)" onclick="change(\'' + extra.breadcrumbs[i].pk + '\');">';
        txt += extra.breadcrumbs[i].text_shorter + '</a>';
        if (i < extra.breadcrumbs.length - 1) {
          txt += " &gt; ";
        }
      }
      $('#breadcrumbs').html('{% trans 'You are in discussion' %} ' + txt);

      var head_button = '';
      var hide_form = 'hidden';

      if (extra.breadcrumbs.length < 3) {
        head_button = '<a href="javascript:void(0)" class="btn btn-info" onClick="show(\'_reply_head\')"><span class="glyphicon glyphicon-share-alt"></span> {% trans 'Start new discussion' %}</a>';        
      } else {
        hide_form = '';
      }
 
      /* Render the index head, entries will be rendered later */
      var head_post = extra.breadcrumbs[extra.breadcrumbs.length - 1];
      $('#data').html(
        '<div class="white-well big-faq" style="min-height:130px;">'
        + '<div class="col-md-2">'
          + '<img src="' + head_post.avatar + '"  class="forum-picture img-circle"/>'
        + '</div>'
        + '<div class="col-md-10">'
          + '<p class="pull-right">' + head_button + '</p>'
          + '<h3>' + head_post.text_short + '</h3>'
        + '</div>'
      + '</div>'
      +
          /* Add a hidden form */
          '<div id="post_reply_head" class="panel panel-default ' + hide_form + '">' +
            add_form(head_post.pk) + 
          '</div>' +

        '<div id="entries" /></div>');
    }

    function render(i, e, last_end) {
      var body = '';
      var footer = '';

      var hidden = '';

      var link = "";
      if (e.level < 3) {
        if (e.pk == AjaxConfiguration.root) {
            link = 'onClick="change(\' + e.parent + \')"';
        } else {
            link = 'onClick="change(\'' + e.pk + '\')"';
        }
      }

      var user_link = 'http://{{domain}}/profile/' + e.user;

      footer =
          '';

      if (e.post_count > 0) {
        footer += '<small>' + e.post_count + ' '+ e.posts + '</small> ';
      }

      footer += '<div class="btn-group btn-group-md">';

      if (e.deletable_link != '') {
        footer += '<a href="' + e.deletable_link + '" class="btn btn-default" ><span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}</a>';
      }

      if (link != "") footer += '<a href="javascript:void(0)" ' + link + ' class="btn btn-info" >{% trans 'Read posts' %}</a>';

      {% if user.is_authenticated %}

        var show_report = ('{{user}}' != e.user && e.level >= 1);
        var show_subscribe = (e.level == 2);

        if (show_report || show_subscribe) {

          footer += '<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">'
                    + '<span class="caret"></span></button>'
                  + '<ul class="dropdown-menu">';

          if (show_subscribe) {
            if (e.subscribed) {
              footer += '<li><a href="{% url forum_index %}' + e.pk + '/?subscribe=0"><span class="glyphicon glyphicon-bell"></span> {% trans 'Unsubscribe' %}</a></li>';
            } else {
              footer += '<li><a href="{% url forum_index %}' + e.pk + '/?subscribe=1"><span class="glyphicon glyphicon-bell"></span> {% trans 'Subscribe' context 'button' %}</a></li>';
            }
          }

          if (show_report) {

            if (show_subscribe) footer += '<li class="divider"></li>';

            footer += '<li><a href="{% url report 'sexual' %}?target_id=' + e.pk + '&target=Post">{% trans 'Sexual Remarks' %}</a></li>'
                  + '<li><a href="{% url report 'advertising' %}?target_id=' + e.pk + '&target=Post">{% trans 'Advertising' %}</a></li>'
                  + '<li><a href="{% url report 'abuse' %}?target_id=' + e.pk + '&target=Post">{% trans 'Other Abuse' %}</a></li>'
                + '</ul>';
           }
        }

      {% endif %}


      body += '<p>' + e.text + '</p>';


      if (e.level == 3) {
        var s = i;

//        if (e.level == 4) s = last_end;

      }

      footer += '</div>';

      var offset = '';
      if (e.level == '4') {
        offset = 'col-xs-offset-1';
      }

      var show_user = '';

      if (e.level > 1) {
        show_user = '<small><a href="' + user_link + '">' + e.user + '</a></small>';
      }

      var last_post = '';
      if (e.level < 3 && e.last_post) {
        last_post = '{% blocktrans %}<a href="javascript:void(0)" onClick="change(\'' + e.last_post.id + '\');">Last reaction</a> ' + e.last_post.date + ' by <a href="/profile/' + e.user + '/">' + e.user + '</a>{% endblocktrans %}'
      }

      var shade_alternation = '';
      if (i % 2 == 1) shade_alternation = 'shade';

      var avatar = '<img src="' + e.avatar + '" class="img-circle" style="max-width: 124px;" />';
      if (show_user != '') {
        avatar = '<a href="' + user_link + '">' + avatar + '</a>';
      }

      $('#entries').append(
        '<div class="panel panel-default big-favorities ' + offset + ' ' + shade_alternation + '">'
        + '<div class="panel-body link-glow" >'
          + '<div class="col-md-2">'
            + avatar
          + '</div>'
          + '<div class="col-md-10">' 
            + '<div class="pull-right">'
              + footer
            + '</div>'
            + '<p>'
              + show_user
              + body
              + last_post
            + '</p>'
          + '</div>'
        + '</div>'
      + '</div>');

    }

    AjaxConfiguration.ajax_url = '/data/';
    {% if root %}
      AjaxConfiguration.root = '{{root}}';
    {% else %}
      AjaxConfiguration.root = '';
    {% endif %}
    AjaxConfiguration.preRenderCallback = preRender;

    $(document).ready(function() {
      History.Adapter.bind(window,'statechange',function() {
        var state = History.getState();

        AjaxConfiguration.root = state.data.root;

        if(!AjaxConfiguration.root) {
          window.location.href = "{% url forum_index %}";
        } else {
          loadData();
        }
      });

      if (AjaxConfiguration.root != '') {
        change(AjaxConfiguration.root);
      }

    });

    window.onscroll = scrollFunction;

  </script>

{% endblock %}


