{% extends 'forum/index.html' %}

{% load i18n %}
{% load base_tags %}

{% block load_data %}
  $.getJSON('/forum/messages/data/'
{% endblock %}

{% block extra_meta %}

  <link href="{{STATIC_URL}}css/typeahead.js-bootstrap.css" rel="stylesheet" />

{% endblock %}

{% block main %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> {% trans 'Write Private Message' %}</h3>
    </div>
    <div class="panel-body">
      {% include 'form.html' with form=new_form button='Send' name='new' %}
    </div>
  </div>

  {{ block.super }}
{% endblock %}

{% block extra_script %}
  {{ block.super }}

  <script src="{{STATIC_URL}}js/typeahead.min.js"></script>
  <script src="{{STATIC_URL}}js/hogan-2.0.0.min.js"></script>

  <script type="text/javascript" language="javascript">  

     $('#id_addressee').typeahead({
      name: 'addressee',
      remote: '/forum/login/data/%QUERY.json',
      template: [                                                                 
{% verbatim %}
        '<image src="{{avatar}}" class="img" style="width: auto; height: 30px;" /> {{value}}',
{% endverbatim %}
      ].join(''),
      engine: Hogan
    });

     $('.tt-hint').addClass('form-control');


  </script>
{% endblock %}

{% block entry_rendering %}

    function render(i, e, last_end) {
      var body = '';
      var heading = '<h3 class="panel-title">{% trans 'Conversation with' %} ' + e.addressee + '</h3>';

      var hidden = '';

      body += '<div class="text-right" style="color: #505050;"><small>' + e.date + '</small></div>';

      body += '<p>' + e.text + '</p>';

      $('#data').append(
        '<div class="panel panel-default ' + e.html_class + '" style="margin-bottom: 5px;">'
        + '<div class="panel-heading">' + heading + '</div>'
        + '<div class="panel-body" style="padding: 5px;">'
          + '<div class="row">'
            + '<div class="col-xs-2 visible-sm visible-md visible-lg">'
              + '<img src="' + e.avatar + '" width="100%" class="img-rounded" />'
            + '</div>'
            + '<div class="col-xs-10">' + body + '</div>'
          + '</div>'
        + '</div>'
      + '</div>');

    }

{% endblock %}

