{% extends 'base/base.html' %}

{% load i18n %}
{% load base_tags %}

{% block extra_meta %}

  <link href="{{STATIC_URL}}css/typeahead.js-bootstrap.css" rel="stylesheet" />

{% endblock %}

{% block main %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> {% trans 'Write Private Message' %}</h3>
    </div>
    <div class="panel-body">
      {% include 'form.html' with form=new_form button='Send' name='new' %}
    </div>
  </div>

  <div id="data"></div>
  <div id="pagination"></div>

{% endblock %}

{% block extra_script %}

  <script src="{{STATIC_URL}}js/typeahead.min.js"></script>
  <script src="{{STATIC_URL}}js/hogan-2.0.0.min.js"></script>
  <script src="{{STATIC_URL}}js/ajax.js"></script>

  {% include 'base/loading.html' %}

  <script type="text/javascript" language="javascript">  
    var ajax_url = '/forum/conversation/data/';

     $('#id_addressee').typeahead({
      name: 'addressee',
      remote: '/forum/login/data/%QUERY.json',
      template: [                                                                 
{% verbatim %}
        '<image src="{{avatar}}" class="img" style="width: auto; height: 30px;" /> {{value}}',
{% endverbatim %}
      ].join(''),
      engine: Hogan
    });

    $('.tt-hint').addClass('form-control');

    function addMessages(elem, entries) {
      elem.html('');

      for (var i = 0; i < entries.length; i++) {
        render_message(elem, entries[i]);
      }
    }

    function loadMessages(div_id, conversation_id) {
      setLoading('popu' + div_id);

      $.getJSON('/forum/messages/data/', {'conversation': conversation_id}).done(function(data) {
        var entries = data.entries;
        var pagination = data.pagination;

        addMessages($('#popu' + div_id), entries);
//        setupPagination(data.pagination);

//        $('#pagination').html('');
      }).fail(function () {
        setError('popu' + div_id)
      });
    }

    function render_message(elem, e) {
      var body = '';

      body += '<div class="text-right" style="color: #505050;"><small>' + e.date + '</small></div>';
      body += '<p>' + e.text + '</p>';

      elem.append(
        '<div class="panel panel-default col-xs-offset-1" style="margin-bottom: 5px;">'
        + '<div class="panel-body" style="padding: 5px;">'
          + '<div class="row">'
            + '<div class="col-xs-2 visible-sm visible-md visible-lg">'
              + '<img src="' + e.avatar + '" width="100%" class="img-rounded" />'
            + '</div>'
            + '<div class="col-xs-10">' + body + '</div>'
          + '</div>'
        + '</div>'
      + '</div>');

    }

    function render(i, e, last_end) {
      var body = '';

      var footer = '';

      body += '<div class="text-right" style="color: #505050;"><small>{% trans 'Last message' %}: ' + e.last_message + '</small></div>';
      body += '<p>{% trans 'Conversation with' %} <a href="' + e.other_user_link + '">' + e.other_user + '</a></p>';

      link = 'javascript:loadMessages(' + i + ', ' + e.id + ');'

      $('#data').append(
        '<div class="panel panel-default ' + e.html_class + '" style="margin-bottom: 5px;">'
        + '<div class="panel-body" style="padding: 5px;" onclick="' + link + '">'
          + '<div class="row">'
            + '<div class="col-xs-2 visible-sm visible-md visible-lg">'
              + '<img src="' + e.avatar + '" width="100%" class="img-rounded" />'
            + '</div>'
            + '<div class="col-xs-10">' + body + '</div>'
          + '</div>'
        + '</div>'
        + '<div class="panel-footer">' + footer + '</div>'
      + '</div><div id="popu' + i + '"></div>');

    }

    $(document).ready(loadData());


  </script>

{% endblock %}

