<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Password recovery

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block main %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Password Recovery' %}</h3>
  </div>
  <div class="panel-body">

  <p>{% trans 'New password will be sent to your email address.' %}</p>

  {% include 'form.html' with button='Request Change' name=request %}

  </div>
</div>

{% endblock %}
