<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Report

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}

{% block main %}

{% if form %}

<div class="panel panel-danger">
  <div class="panel-heading">

    <h3 class="panel-title"><span class="glyphicon glyphicon-list"></span> {% trans 'Report' %}</h3>
  </div>

  <div class="panel-body">
    <p>
    {% trans 'We appreciate you taking the time to report this abuse to us. It will be carefully reviewed and the person responsible will be warned or his account suspended.' %}
    </p>

    <p>
    {% trans 'If you wish to <b>add</b> any additional comments you may do so here.' %}
    </p>

    <form action="/report/advertising" class="form-horizontal" method="POST">
      {% csrf_token %}

      <div class="form-group">
        <div class="col-sm-12 text-left">
          <textarea rows="5" name="note" id="id_note" placeholder="" cols="40" class=" form-control"></textarea>
        </div>
      </div>
      <div class="form-group text-center">
        <div class="">
          <button type="submit" class="btn btn-green">{% trans 'Add note' %}</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endif %}

{% endblock %}


