{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block main %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Search Criteria' %}</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
    {{search_form|bootstrap_horizontal:"col-sm-2"}}
    </form>
  </div>
</div>

<div id="results">
loading ...
</div>

{% endblock %}

{% block extra_script %}
  <script type="text/javascript" language="javascript">

    function loadData()
    {
      $('#results').html('loading ...');

      $.getJSON('/forum/search/data/', {
          male: document.getElementById('id_sex_1').checked,
          female: document.getElementById('id_sex_2').checked,
          city: document.getElementById('id_city').value,
      }).done(function(entries) {
          $('#results').html('');
          for (var i = 0; i < entries.length; i++) {
            profile(i, entries[i]);
          }
        })
        .error(function() {
          $('#results').html('Error loading data');
        });
    }

    function add_bar(value, text) {
      var str =
        '<div class="progress" style="margin-bottom: 10px;">'
        + '<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="' + value + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + value + '%">'
          + text
        + '</div>'
      + '</div>';
      return str;
    }

    function profile(i, e) {
      var a = '<a href="' + e.link  + '">'
      $('#results').append('<div class="panel panel-info">'
        + '<div class="panel-heading">'
          + a + '<span class="glyphicon glyphicon-user" /> ' + e.username + '</a>'
        + '</div>'
        + '<div class="panel-body">'
          + '<div class="row"><div class="col-xs-5 col-sm-2">'
              + a + '<img src="' + e.avatar + '" class="img-rounded" width="100%"/></a>'
            + '</div>'
            + '<div class="col-xs-7 col-sm-4">'
              + a + e.username + '</a><br/>'
              + e.sex + '<br/>'
            + '</div>'
            + '<div class="clearfix visible-xs"></div>'
            + '<div class="col-sm-6">'
              + add_bar(e.fitness[0], "{% trans 'Overall Compatibility' %}")
              + add_bar(e.fitness[1], "{% trans 'Body' %}")
              + add_bar(e.fitness[2], "{% trans 'Activities' %}")
            + '</div>'
          + '</div>'
        + '</div>'
      + '</div>'

      + '</div>');            
    }

    $(document).ready(loadData);

  </script>
{% endblock %}


