<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Search

------------------------------------------------------------------------------------------->

{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block main %}

  {% if search_form %}
      <h3 class=""> {% trans 'Search Criteria' %}</h3>

    <div class="well big-faq panel-body">
      <form class="form-horizontal">
      {{search_form|bootstrap_horizontal:"col-sm-2"}}
      </form>
    </div>
  </div>

  <div id="data">
  </div>

  <div id="pagination">
  </div>

  {% else %}
  <div class="jumbotron">
    <h3>{% trans 'Unfortunatelly, you cannot search for other users until you fill in the personal info on your' %} <a href="{% url profile user.username %}?focus=personal&edit=1" >{% trans 'profile' %}</a>.</h3>
    <p>{% trans 'Your compatibility with others cannot be estimated.' %}</p>
  </div>
  {% endif %}

{% endblock %}

{% block left %}
  <p/>
  <div class="hidden-sm hidden-xs">
    {% include 'form_suggest.html' %}
  </div>
{% endblock %}

{% block extra_script %}
  {% if search_form %}

  {% include 'base/loading.html' %}

  <script src="{{STATIC_URL}}js/ajax.js"></script>

  <script type="text/javascript" language="javascript">

    var ajax_url = '/search/data/';

    function updateSearchResults()
    {
      ajax_get = {
          male: document.getElementById('id_sex_1').checked,
          female: document.getElementById('id_sex_2').checked,
          city: document.getElementById('id_city').value,
      }

      loadData();
    }

    function add_bar(value, text) {
      var str =
        '<div class="progress" style="margin-bottom: 10px;">'
        + '<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="' + value + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + value + '%">'
          + text
        + '</div>'
      + '</div>';
      return str;
    }

    function render(i, e, last) {
      var a = '<a href="' + e.link  + '">'
      $('#data').append('<div class="col-md-6 col-sm-12 panel panel-info">'
          
        + '<div class="panel-body">'
          + '<div class="row"><div class="col-xs-12 col-sm-4">'
              + a + '<img src="' + e.avatar + '" class="img-rounded" width="100%"/></a>'
            + '</div>'
          
            + '<div class="col-sm-8">'
                + '<h3 class="">'
          + a + e.username + '</a> '
          + (e.city != '' ? '<small>{% trans 'from' context 'city' %} ' + e.city + '</small>' : '')
          + '</h3>'
           +  '<p>' + e.bio + '</p>'
              + add_bar(e.fitness[0], "{% trans 'Overall Compatibility' %}")
              + add_bar(e.fitness[1], "{% trans 'Body' %}")
              + add_bar(e.fitness[2], "{% trans 'Activities' %}")
            + '</div>'
          + '</div>'
        + '</div>'
        
          + '<div class="btn-group btn-group-xs">'
            + '<a class="btn btn-default" href="{% url favourites %}?add=' + e.username  + '"><span class="glyphicon glyphicon-pushpin"></span> {% trans 'Add to Favourites' %}</a>'
            + '<a class="btn btn-default" href="{% url messages %}?addressee=' + e.username + '"><span class="glyphicon glyphicon-envelope"></span> {% trans 'Send Message' %}</a>'
          + '</div>'
        + '</div>'
  

      + '</div>');            
    }

    $(document).ready(updateSearchResults);

    window.onscroll = scrollFunction;

  </script>
  {% endif %}
{% endblock %}


