<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Article

------------------------------------------------------------------------------------------->

{% extends 'articles/base.html' %}

{% load i18n %}

{% block body_top %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block og_title %}{{article.heading}}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_image %}{% if article.image %}{{article.image.url}}{% else %}/{% endif %}{% endblock %}

{% block main %}
<div id="post-detail" class="well big-post">
    
    {% if article.image %}
    <a href="" class="article-image" >
    <img src="{{article.image.url}}" />
        </a>
  {% endif %}
    

    
    
  <div class="pull-right">
    <small><p class="text-muted">{{article.display_from}}</p></small>
  </div>

  <h2>{{article.heading}}</h2>

  

  <p>
    {{article.body_html|safe}}
  </p>

  <p/>

  <div class="fb-surround">
    <div class="fb-like" data-href="http://hubnemevedvou.cz/articles/{{article.url}}/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-ref="article"></div>
  </div>

  {% if user.is_superuser %}
    <hr/>
    <div class="btn-group">
      <a class="btn btn-default" href="/admin/articles/article/{{article.id}}/">{% trans 'Edit' %}</a>
    </div>
  {% endif %}
    
  <div class="fb-comments" data-href="http://{{domain}}/" data-numposts="5" data-colorscheme="light" data-width="800"></div>
    
</div>

<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Recommended ? 

------------------------------------------------------------------------------------------->

{% if suggested_articles %}
  
  <div class="row">        
    <h3 class="text-center lead">Další podobný články</h3>

    {% for a in suggested_articles %}
      <div class="col-sm-6">
        {% include 'articles/preview.html' with article=a %}
      </div>
    {% endfor %}
  </div>

{% endif %}

{% endblock %}

