<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Articles index

------------------------------------------------------------------------------------------->

{% extends 'articles/base.html' %}

{% load i18n %}

{% block og_title %}{% trans 'Articles' %} - Hubneme ve dvou{% endblock %}
{% block caption %}{% trans 'Articles' %} - Hubneme ve dvou{% endblock %}

{% block og_description %}{% trans 'Articles about weight loss and healthy lifestyle' %}{% endblock %}
{% block description %}{% trans 'Articles about weight loss and healthy lifestyle' %}{% endblock %}

{% block main %}
  {% if articles_important %}
    {% for a in articles_important %}
      <div class="row">
        <div class="col-xs-12">
          {% include 'articles/preview.html' with article=a %}
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if articles %}
    <div class="row">
      <div class="col-sm-6">
        {% for a in articles %}
          {% if a.left %}
            {% include 'articles/preview.html' with article=a %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-sm-6">
        {% for a in articles %}
          {% if not a.left %}
            {% include 'articles/preview.html' with article=a %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif%}

{% endblock %}

