<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Prewiev

------------------------------------------------------------------------------------------->

{% load i18n %}

{% if size == 'small' %}
  <small>
{% endif %}
<div class="well feed-post">
    
{% if article.image %}
  <a href="{% url article article.id %}" class="article-image" >
    <img src="{{article.image.url}}" class="img-rounded pull-{{article.image_position}}" />
  </a>
{% endif %}
    
    
<a class="article-header" href="{% url article article.id %}"><h3>
  {{article.heading}}
  {% if not article.published %}
    <small>{% trans 'Not published' %}</small>
  {% endif %}
</h3></a>



<div class="article-text">
  {{article.preview_html|safe}}
</div>


  <div class="btn-group{% if size == 'small' %} btn-group-sm{% endif %} right">
    <a class="" href="{% url article article.id %}">{% trans 'Read More' %} »</a>
  </div>


{% if size == 'small' %}
  </small>
{% endif %}

</div>