{% load i18n %}

<h2>
  {{article.heading}}
  {% if not article.published %}
    <small>{% trans 'Not published' %}</small>
  {% endif %}
</h2>

{% if article.image %}
  <a href="{% url article article.id %}" >
    <img src="{{article.image.url}}" class="img-rounded pull-{{article.image_position}}" style="margin: 8px; max-width: 40%; height: auto;" />
  </a>
{% endif %}

<p>
  {{article.preview_html|safe}}
</p>

<p>
  <a class="btn btn-default" href="{% url article article.id %}">{% trans 'Read More' %} »</a>
</p>
