<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Preview columns

------------------------------------------------------------------------------------------->

<div class="col-sm-6 first-child-blog">
  {% for a in articles %}
    {% if a.left %}
      {% include 'articles/preview.html' with article=a %}
    {% endif %}
  {% endfor %}
</div>
<div class="col-sm-6">
  {% for a in articles %}
    {% if not a.left %}
      {% include 'articles/preview.html' with article=a %}
    {% endif %}
  {% endfor %}
</div>
