<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Form suggest - Doporucit priteli

------------------------------------------------------------------------------------------->

{% load i18n %}
{% load bootstrap %}
  <div class="sidebar-header">
    <h3 class="panel-title">
      {% trans 'Suggest to a friend' %}      
    </h3>
      </div>
 <div class="panel panel-info sidebar-box">
    <div class="panel-body">
      <form action="{{suggest_action}}" method="POST" class="form-inline">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{request.path}}" >
        {{form_suggest|bootstrap_inline}}
        <input type="submit" onclick="gaTrackEvent('suggesting', 'email submit');" class="btn btn-green input-sm" name="suggest" value="{% trans 'Send' %}" />
      </form>
    </div>
     </div>


