<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Registracia form krok 2,3,4, Messages

------------------------------------------------------------------------------------------->

{% load i18n %}

{% load forum_extras %}

<form action="{{action}}" class="form-horizontal" method="POST" >
  {% csrf_token %}

  {% include "form_fields.html" %}

  <div class="form-group text-center">
    <div class="">
      <button type="submit" class="btn btn-green" name="{{name}}" {% if ga_c and ga_a %}onmousedown="gaTrackEvent('{{ga_c}}', '{{ga_a}}', '{{button}}');"{% endif %}>{% trans button %}</button>
    </div>
  </div>

</form>


