<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Registracia form krok 2,3,4, Messages

------------------------------------------------------------------------------------------->

{% load i18n %}
{% load bootstrap %}

{% load forum_extras %}

<form action="{{action}}" class="form-horizontal" method="POST" >
  {% csrf_token %}
    {% if form|is_list %}
      {% for f in form %}
        {% if f.label %}<p class="lead">{{f.label}}</p>{% endif %}
        {% if f.additional_comment %}<p>{{f.additional_comment}}</p>{% endif %}
        {{f|bootstrap_horizontal:"col-sm-3"}}
      {% endfor %}
    {% else %}
      {{form|bootstrap_horizontal:"col-sm-3"}}
    {% endif %}

    <div class="form-group text-center">
      <div class="">
        <button type="submit" class="btn btn-green" name="{{name}}">{% trans button %}</button>
      </div>
    </div>

</form>


