<!------------------------------------------------------------------------------------------ 

Hubnemevedvou.cz

Form suggest - Doporucit priteli

------------------------------------------------------------------------------------------->

{% load i18n %}
{% load bootstrap %}

    <h3>
      {% trans 'Suggest to a friend' %}      
    </h3>
    <div class="panel-body">
      <form action="{{suggest_action}}" method="POST" class="form-inline">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{request.path}}" >
        {{form_suggest|bootstrap_inline}}
        <input type="submit" class="btn btn-default input-sm" name="suggest" value="{% trans 'Send' %}" />
      </form>
    </div>


